<template>
  <div :class="[proxyStyles?.pagination]">
    <div
      v-if="lastPage > 1 && isMoreThanMaxVisiblePagePass"
      :class="[proxyStyles?.btnDefault, proxyStyles?.btnPrev]"
      @click="changePage(currentPage - 1)">
      <ui-icon name="chevron-left" />
    </div>
    <div
      v-if="isMoreThanMaxVisiblePagePass"
      :class="[proxyStyles?.btnDefault]"
      @click="changePage(1)">
      1
    </div>
    <div
      v-if="isMoreThanMaxVisiblePagePass"
      :class="[proxyStyles?.btnDefault, proxyStyles?.btnEllipsis]">
      ...
    </div>
    <div
      v-for="(visiblePage, index) in visiblePages"
      :key="index"
      :class="[
        proxyStyles?.btnDefault,
        visiblePage === currentPage ? proxyStyles?.btnActive : '',
      ]"
      @click="changePage(visiblePage)">
      {{ visiblePage }}
    </div>
    <div
      v-if="isMoreThanMaxVisiblePageLast"
      :class="[proxyStyles?.btnDefault, proxyStyles?.btnEllipsis]">
      ...
    </div>
    <div
      v-if="isMoreThanMaxVisiblePageLast"
      :class="[proxyStyles?.btnDefault]"
      @click="changePage(lastPage)">
      {{ lastPage }}
    </div>
    <div
      v-if="isMoreThanMaxVisiblePageLast"
      :class="[proxyStyles?.btnDefault, proxyStyles?.btnNext]"
      @click="changePage(currentPage + 1)">
      <ui-icon name="chevron-right" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import {
  computed, ref, watchEffect, inject,
} from 'vue';
import { Styles, keyStyles } from '..';
import { UiPaginationStyles } from './pagination.types';
import UiIcon from '../icon/UiIcon.vue';

const props = withDefaults(defineProps<{
  page?: number,
  limit?: number,
  total?: number,
  maxVisiblePage?: number,
  paginationStyles?: UiPaginationStyles,
}>(), {
  page: 1,
  limit: 20,
  total: 0,
  maxVisiblePage: 5,
});

// eslint-disable-next-line no-unused-vars
const emits = defineEmits<{(event: 'change-page', value: any): void; (event: 'click', value: number): void;}>();

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.paginationStyles ? props.paginationStyles : styles?.components.uiPagination));

const currentPage = ref(props.page);

const lastPage = computed(() => Math.ceil(props.total / props.limit));
const isMoreThanMaxVisiblePagePass = computed(() => currentPage.value >= props.maxVisiblePage);
const isMoreThanMaxVisiblePageLast = computed(
  () => (lastPage.value - currentPage.value) >= props.maxVisiblePage,
);

const changePage = (page: any) => {
  emits('change-page', {
    offset: (page - 1) * props.limit,
    limit: props.limit,
    page,
  });
};

const visiblePages = computed(() => {
  const result: number[] = [];

  if (lastPage.value === 1) {
    return [];
  }

  if (isMoreThanMaxVisiblePagePass.value && isMoreThanMaxVisiblePageLast.value) {
    result.push(
      currentPage.value - 1,
      currentPage.value,
      currentPage.value + 1,
    );
  }

  if (!isMoreThanMaxVisiblePagePass.value && !isMoreThanMaxVisiblePageLast.value) {
    for (let page = 1; page <= lastPage.value; page += 1) {
      result.push(page);
    }
  } else if (!isMoreThanMaxVisiblePagePass.value) {
    for (let page = 1; page <= props.maxVisiblePage; page += 1) {
      result.push(page);
    }
  } else if (!isMoreThanMaxVisiblePageLast.value) {
    for (
      let page = lastPage.value - props.maxVisiblePage;
      page <= lastPage.value;
      page += 1
    ) {
      result.push(page);
    }
  }

  return result;
});

watchEffect(() => { currentPage.value = props.page; });

// export default defineComponent({
//   name: 'UiPagination',

//   components: {
//     UiIcon,
//   },

//   props: {
//     page: {
//       type: Number,
//       default: 1,
//     },
//     limit: {
//       type: Number,
//       default: 20,
//     },
//     total: {
//       type: Number,
//       default: 0,
//     },
//     maxVisiblePage: {
//       type: Number,
//       default: 5,
//     },
//     styles: {
//       type: Object,
//     }
//   },

//   emits: ['click', 'change-page'],

//   setup(props, ctx) {

//     const styles = inject('styles')

//     const proxyStyles = computed(() => {
//       return props.styles ? props.styles : styles.components.uiPagination
//     })

//     const currentPage = ref(props.page);

//     const lastPage = computed(() => Math.ceil(props.total / props.limit));
//     const isMoreThanMaxVisiblePagePass = computed(() => currentPage.value >= props.maxVisiblePage);
//     const isMoreThanMaxVisiblePageLast = computed(
//       () => (lastPage.value - currentPage.value) >= props.maxVisiblePage,
//     );

//     const changePage = (page) => {
//       ctx.emit('change-page', {
//         offset: (page - 1) * props.limit,
//         limit: props.limit,
//         page,
//       });
//     };

//     const visiblePages = computed(() => {
//       const result = [];

//       if (lastPage.value === 1) {
//         return [];
//       }

//       if (isMoreThanMaxVisiblePagePass.value && isMoreThanMaxVisiblePageLast.value) {
//         result.push(
//           currentPage.value - 1,
//           currentPage.value,
//           currentPage.value + 1,
//         );
//       }

//       if (!isMoreThanMaxVisiblePagePass.value && !isMoreThanMaxVisiblePageLast.value) {
//         for (let page = 1; page <= lastPage.value; page += 1) {
//           result.push(page);
//         }
//       } else if (!isMoreThanMaxVisiblePagePass.value) {
//         for (let page = 1; page <= props.maxVisiblePage; page += 1) {
//           result.push(page);
//         }
//       } else if (!isMoreThanMaxVisiblePageLast.value) {
//         for (
//           let page = lastPage.value - props.maxVisiblePage;
//           page <= lastPage.value;
//           page += 1
//         ) {
//           result.push(page);
//         }
//       }

//       return result;
//     });

//     watchEffect(() => { currentPage.value = props.page; });

//     return {
//       lastPage,
//       isMoreThanMaxVisiblePagePass,
//       isMoreThanMaxVisiblePageLast,
//       visiblePages,
//       currentPage,
//       changePage,
//       proxyStyles,
//     };
//   },
// });
</script>
