<template>
  <label :class="[proxyStyles?.dadata]">
    <span
      v-if="label"
      :class="[proxyStyles?.label]">
      {{ label }}
      <span
        v-if="$attrs.required"
        :class="[proxyStyles?.required]">*</span>
    </span>
    <vue-dadata
      v-model="query"
      :token="token"
      :placeholder="placeholder"
      :url="url"
      :debounce-wait="debounceWait"
      :disabled="disabled"
      :from-bound="fromBound"
      :to-bound="toBound"
      :input-name="inputName"
      :location-options="locationOptions"
      :classes="classes"
      :highlight-options="highlightOptions"
      :autocomplete="autocomplete" />
  </label>
</template>

<script lang="ts" setup>
import { keyStyles, Styles } from '@/components';
import {
  computed,
  inject,
} from 'vue';
import {
  VueDadata,
  BoundsType,
  LocationOptions,
  VueDadataClasses,
  HighlightOptions,
} from 'vue-dadata';
import 'vue-dadata/dist/style.css';
import UiDadataStyles from './dadata.types';

const props = withDefaults(defineProps<{
  label?: string,
  token: string,
  model: string,
  placeholder?: string,
  url?: string,
  debounceWait?: string,
  disabled?: boolean,
  fromBound?: BoundsType,
  toBound?: BoundsType,
  inputName?: string,
  locationOptions?: LocationOptions,
  classes?: VueDadataClasses,
  highlightOptions?: HighlightOptions,
  autocomplete?: boolean,
  dadataStyles? : UiDadataStyles,
}>(), {
  label: '',
  placeholder: '',
  url: undefined,
  debounceWait: '1000ms',
  fromBound: undefined,
  toBound: undefined,
  inputName: undefined,
  locationOptions: undefined,
  classes: undefined,
  highlightOptions: undefined,
  autocomplete: false,
  disabled: false,
});

// eslint-disable-next-line no-unused-vars
const emits = defineEmits<{(event: 'update:model', value: string): void; }>();

const query = computed({
  get: () => props.model,
  set: (value) => emits('update:model', value),
});

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.dadataStyles ? props.dadataStyles : styles?.components.form.uiDadata));

</script>

<style lang="scss">
</style>
