<template>
  <label :class="[proxyStyles?.selectWrapper]">
    <span
      v-if="label"
      :class="[proxyStyles?.label]">
      {{ label }}
    </span>
    <ui-dropdown
      :selected-index-list="selectedIndexList"
      :items="dropdownItems"
      :is-select-multiple="true"
      :dropdown-styles="proxyDropdownStyles"
      :disabled="disabled"
      @select="onSelect">
      <template #activator="{ on, isActive }">
        <div
          :class="[proxyStyles?.uiSelectDefault, { [`${proxyStyles?.uiSelectInset}`]: inset }, {[`${proxyStyles?.selectError}`]: errorMessage}]"
          v-on="on">
          <div :class="[proxyStyles?.body]">
            <div class="ui-select__value">
              <div>
                {{ prepareLabelText }}
              </div>
            </div>
            <ui-icon
              :name="isActive ? 'chevron-up' : 'chevron-down'"
              :color="proxyStyles?.color ?? GRAY_100" />
          </div>
        </div>
      </template>
    </ui-dropdown>
    <span
      v-show="errorMessage"
      :class="[proxyStyles?.error]">
      {{ errorMessage }}
    </span>
  </label>
</template>

<script lang="ts" setup>
import { computed, inject, onMounted } from 'vue';
import { Styles, keyStyles } from '@/components';
import { GRAY_100 } from '../../../core/color';
import UiIcon from '../../icon/UiIcon.vue';
import UiDropdown from '../dropdown/UiDropdown.vue';
import { UiDropdownStyles } from '../dropdown/dropdown.types';
import { UiSelectMultipleStyles } from './select.multiple.types';

type IUiSelectProps = {
  model: string[],
  defaultValue?: string,
  options?: string[],
  placeholder?: string,
  label?: string,
  inset?: boolean,
  disabled?: boolean,
  selectStyles?: UiSelectMultipleStyles,
  isMultiple?: boolean,
  dropdownStyles?: UiDropdownStyles,
  errorMessage?: string;
}

type IUiSelectEmits = {
  (event: 'update:model', value: string[]): void;
}

const props = withDefaults(defineProps<IUiSelectProps>(), {
  model: () => [],
  defaultValue: '',
  options: (): string[] => [],
  placeholder: 'Выберите из списка',
  inset: false,
  disabled: false,
  label: '',
  selectStyles: undefined,
  dropdownStyles: undefined,
  errorMessage: '',
});
const emits = defineEmits<IUiSelectEmits>();

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.selectStyles ? props.selectStyles : styles?.components.form.uiSelectMultiple));
const proxyDropdownStyles = computed(() => (props.dropdownStyles ? props.dropdownStyles : styles?.components.form.uiDropdown));

const prepareLabelText = computed(() => {
  let result = props.defaultValue.length > 0 ? props.defaultValue : props.placeholder;

  if (props.model && props.model.length > 0) {
    result = props.model?.length > 1 ? `Выбрано: ${props.model?.length}` : ((props.model[0] || props.model[0] || props.placeholder));
  }

  return result;
});

const selectedIndexList = computed(() => {
  if (props.model === null) {
    return [
      props.options
        .findIndex((item: any) => (item.title ? item.title === props.defaultValue : item === props.defaultValue)),
    ];
  }

  const result: number[] = [];

  props.options.forEach((option: any, index) => {
    if (option.title) {
      if (props.model.some((item: any) => item.title === option.title)) {
        result.push(index);
      }
    } else if (props.model.some((item: any) => item === option)) {
      result.push(index);
    }
  });

  return result;
});

const dropdownItems = computed(() => props.options.map((option: any) => option.title ?? option));

const onSelect = (index: number) => {
  const option = props.options[index];

  if (props.model) {
    const alreadyChosenIndex = props.model.findIndex(((chosenOption) => option === chosenOption));

    if (alreadyChosenIndex !== -1) {
      const chosenOptions = props.model;

      chosenOptions.splice(alreadyChosenIndex, 1);

      emits('update:model', chosenOptions);
    } else {
      emits('update:model', [...props.model, option]);
    }
  } else {
    emits('update:model', [option]);
  }
};

onMounted(() => {
  console.warn('UiSelectMultiple is deprecated! Use UiSelectTags!');
});
</script>
