<template>
  <div :class="[proxyStyles?.toolbar]">
    <component
      v-bind="{ ...attrs, disabled }"
      :is="dict[as]"
      v-for="({ as, type, ...attrs }, btnIndex) in toolbarSchema"
      :key="`toolbar-item-${btnIndex}`"
      @click.prevent="$emit('onToggleToolbarButton', type)" />
  </div>
</template>

<script lang="ts" setup>
import { defineAsyncComponent, computed, inject } from 'vue';
import { keyStyles, Styles } from '@/components';
import WysiwygToolbar from './wysiwyg-toolbar.types';
import { ToolbarSchema } from '../index.types';
import WysiwygToolbarSpace from '../wysiwyg-toolbar-space/wysiwyg-toolbarSpace.types';

const props = withDefaults(defineProps<{
    toolbarSchema: ToolbarSchema[],
    disabled?: boolean,
    wysiwygToolbarStyles?: WysiwygToolbar,
    wysiwygToolbarSpaceStyles?: WysiwygToolbarSpace
}>(), {
  disabled: false,
});

defineEmits(['onToggleToolbarButton']);

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.wysiwygToolbarStyles ? props.wysiwygToolbarStyles : styles?.components.form.wysiwyg.wysiwygToolbar));

const dict = {
  button: defineAsyncComponent(() => import('../wysiwyg-toolbar-button/WysiwygToolbarButton.vue')),
  space: defineAsyncComponent(() => import('../wysiwyg-toolbar-space/WysiwygToolbarSpace.vue')),
};
</script>

<style lang="scss" scoped>

</style>
