<template>
  <label
    :for="name"
    :class="[proxyStyles?.checkbox]">
    <input
      :id="name"
      type="checkbox"
      :class="[proxyStyles?.input]"
      :checked="model"
      :disabled="disabled"
      @change="$emit('update:model', ($event.target as HTMLInputElement).checked)">
    <div :class="[proxyStyles?.container]">
      <div :class="[proxyStyles?.trigger, {[`${proxyStyles?.triggerChecked}`]: model }]">
        <div
          v-show="model"
          :class="[proxyStyles?.checked]">
          <ui-icon
            name="icon_check"
            :color="COLOR.WHITE" />
        </div>
      </div>
      <div :class="[proxyStyles?.label]">
        <slot>{{ label }}</slot>
      </div>
    </div>
  </label>
</template>

<script lang="ts" setup>
import { inject, computed } from 'vue';
import { Styles, keyStyles } from '@/components';
import UiIcon from '../../icon/UiIcon.vue';
import { COLOR } from '../../../core';
import UiCheckboxStyles from './checkbox.types';

const props = withDefaults(defineProps<{
    name?: string,
    label?: string,
    model?: boolean,
    disabled?: boolean,
    checkboxStyles? : UiCheckboxStyles,
}>(), {
  model: false,
  label: '',
  name: 'default-checkbox',
  disabled: false,
});

// eslint-disable-next-line vue/define-emits-declaration
defineEmits(['update:model']);

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props?.checkboxStyles ? props?.checkboxStyles : styles?.components.form.uiCheckbox));

// const pxSize = `${props.size}px`;
</script>

<style lang="scss" scoped>
</style>
