<template>
  <div :class="[proxyStyles?.selectBig]">
    <span :class="[proxyStyles?.label]">
      {{ label }}
      <ui-tooltip
        v-if="tooltip"
        v-bind="tooltip.options">
        <ui-icon
          :height="tooltip.icon.height ?? 16"
          :width="tooltip.icon.width ?? 16"
          :color="tooltip.icon.color ?? ''"
          :class="[proxyStyles?.tooltipIcon]"
          :name="tooltip.icon.name" />
        <template #content>
          <p :class="[proxyStyles?.tooltipText]">
            {{ tooltip.text }}
          </p>
        </template>
      </ui-tooltip>
      <span
        v-if="$attrs.required"
        :class="[proxyStyles?.required]">*</span>
    </span>
    <ui-dropdown
      v-bind="dropdownAttrs"
      :selected-index-list="[selectedIndex]"
      @add-option="addOption"
      @select="onSelect"
      @focus="onFocus">
      <template #activator="{ on, isActive }">
        <label
          :class="[proxyStyles?.selectDefault, {[`${proxyStyles?.selectError}`]: errorMessage}]"
          :tabindex="!filterable ? '0' : ''"
          v-on="!isLoading ? on : {}"
          @click.stop>
          <div
            v-if="!filterable"
            :class="[proxyStyles?.selectValue]">
            {{ model?.title || placeholder }}
          </div>
          <input
            v-if="filterable"
            :id="name + '123'"
            data-testid="uiSelectInput"
            tabindex="0"
            :value="inputValue"
            :placeholder="(placeholder as string)"
            :disabled="isLoading"
            :class="[proxyStyles?.input ,{[`${proxyStyles?.inputDisabled}`]: isLoading}]"
            autocomplete="off"
            @input="filterDropdownItems(($event.target as HTMLInputElement).value)">
          <ui-icon
            :name="isActive ? 'chevron-up' : 'chevron-down'"
            :color="proxyStyles?.color ?? GRAY_100" />
        </label>
      </template>
    </ui-dropdown>
    <span
      v-show="errorMessage"
      :class="[proxyStyles?.error]">
      {{ errorMessage }}
    </span>
  </div>
</template>

<script lang="ts" setup>
import {
  computed, inject, watch, ref, toRaw,
} from 'vue';
import { keyStyles, Styles } from '@/components';
import UiTooltip from '../../tooltip/UiTooltip.vue';
import { useSelect } from '../useSelectExpandable';
import { GRAY_100 } from '../../../core/color';
import UiIcon from '../../icon/UiIcon.vue';
import UiDropdown from '../dropdownExpandable/UiDropdownExpandable.vue';
import { IUiSelectEmits, IUiSelectProps, SelectOption } from './select.types';

const props = withDefaults(defineProps<IUiSelectProps>(), {
  model: '',
  errorMessage: '',
  label: '',
  name: '',
  placeholder: 'Выберите из списка',
  options: (): SelectOption[] => [],
  collectionName: '',
  inset: false,
  disabled: false,
  filterable: false,
  expandable: false,
  selectStyles: undefined,
  tooltip: undefined,
});

// eslint-disable-next-line no-unused-vars
const emits = defineEmits<IUiSelectEmits>();

const isLoading = ref(false);

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.selectStyles ? props.selectStyles : styles?.components.form.uiSelect));

const proxyDropdownStyles = computed(() => (props.selectStyles?.dropdown
  ? props.selectStyles?.dropdown
  : styles?.components.form.uiDropdown));

const {
  selectedIndex, inputValue, dropdownItems, filteredDropdownItems, onSelect, onFocus, filterDropdownItems, addOption,
} = useSelect(props, isLoading, emits);

const dropdownAttrs = ref({
  dropdownId: props.name,
  items: props.filterable ? filteredDropdownItems : dropdownItems,
  collectionName: props.options[0]?.collectionName ?? '',
  optionsLength: props.options.length,
  dropdownStyles: proxyDropdownStyles,
  disabled: props.disabled,
  inputValue,
  expandable: props.expandable,
});

watch(() => props.options, () => {
  inputValue.value = '';

  const options = toRaw(props.options);

  emits('update:model', {
    id: props.options[props.options.length - 1].id,
    collectionName: props.options[props.options.length - 1].collectionName,
    title: props.options[props.options.length - 1].title,
  });

  filteredDropdownItems.value = options.sort((a, b) => {
    if (a.title < b.title) { return -1; }
    if (a.title > b.title) { return 1; }

    return 0;
  });
}, { deep: true });

watch(() => props.model, () => {
  const inputElement = document.activeElement as HTMLInputElement;

  inputValue.value = props.model.title;
  isLoading.value = false;
  inputElement.blur();
}, { deep: true });

</script>

<style lang="scss" scoped>
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
</style>
