<template>
  <button :class="[proxyStyles]" :disabled="disabled" @click.capture="onClick">
    <slot :color="color">
      {{ label }}
    </slot>
  </button>
  <!-- v-bind="externalLinkAttrs" -->
</template>

<script lang="ts" setup>
import { inject, computed } from "vue";
import { Styles, keyStyles } from "../index";

type IUIButton = {
  label?: string;
  link?: string;
  disabled?: boolean;
  color?: string;
  styles?: string[];
};
const props = withDefaults(defineProps<IUIButton>(), {
  label: "",
  link: "",
  disabled: false,
});

const styles: any = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() =>
  props.styles
    ? props.styles
    : [
        styles.components.button.uiButton.defaultTheme,
        styles.components.button.uiButton.btn,
      ]
);

// eslint-disable-next-line no-unused-vars
const emits = defineEmits<{
  (event: "disabled-click", value: any): void;
  (event: "click", value?: any): void;
}>();

const onClick = ($event: Event) => {
  if (props.disabled) {
    $event.preventDefault();
    emits("disabled-click", $event);
  } else {
    emits("click", $event);
  }
};
</script>

<style lang="scss"></style>
