<template>
  <a
    v-bind="externalLinkAttrs"
    :class="[proxyStyles?.linkHeaderMenuTheme]">
    <slot :color="color" />
  </a>
</template>

<script lang="ts" setup>
import { Styles, keyStyles } from '@/components';
import { computed, inject } from 'vue';
import { Link, UiExternalLinkStyles } from './index';

const props = withDefaults(defineProps<{
  link?: string,
  color?: string,
  linkhStyles?: UiExternalLinkStyles,
}>(), {
  link: '',
});

const externalLinkAttrs: Link = {};

// eslint-disable-next-line vue/no-setup-props-destructure
externalLinkAttrs.href = props.link;
externalLinkAttrs.target = '_blank';
externalLinkAttrs.rel = 'noopener noreferrer';

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.linkhStyles ? props.linkhStyles : styles?.components.button.uiExternalLink));

</script>

<style lang="scss">
</style>
