<template>
  <router-link
    :class="[proxyStyles]"
    :target="target"
    :to="props.to">
    <slot />
  </router-link>
</template>

<script lang="ts" setup>
import { computed, inject } from 'vue';
import { Styles, keyStyles } from '..';

const props = defineProps({
  to: {
    type: [String, Object],
    required: true,
  },
  target: {
    type: String,
    default: '',
  },
  styles: {
    type: Object,
  },
});

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.styles ? props.styles : styles?.components.button.uiLink.linkDefaultTheme));

</script>
