<template>
  <div :class="[optionsUiWysiwygError?.error]">
    {{ errorMessage }}
  </div>
</template>

<script lang="ts" setup>
import { keyStyles, Styles } from '@/components';
import { computed, inject } from 'vue';
import WysiwygErrorStyles from './wysiwyg-error.types';

const props = withDefaults(defineProps<{
    errorMessage?: string,
    wysiwygErrorStyles? : WysiwygErrorStyles,
}>(), {
  errorMessage: '',
});

const styles = inject<Styles | undefined>(keyStyles);

const optionsUiWysiwygError = computed(() => (props.wysiwygErrorStyles ? props.wysiwygErrorStyles : styles?.components.form.wysiwyg.wysiwygError));

</script>

<style lang="scss" scoped>
</style>
