<template>
  <div :class="[proxyStyles?.dropzoneItem]">
    <img
      v-if="preparedFile.thumbnailUrl"
      :src="preparedFile.thumbnailUrl"
      height="48"
      width="48"
      :class="[proxyStyles?.image]">
    <ui-icon
      v-else
      :name="preparedFile.ext"
      :width="48"
      :height="48"
      :color="BRAND_RED"
      :class="[proxyStyles?.icon]" />
    <div :class="[proxyStyles?.preparedFile]">
      <p :class="[proxyStyles?.wrapper]">
        <ui-button
          :styles="[proxyStyles?.wrapperBtn, proxyButtonStyles.linkDefaultTheme, proxyButtonStyles.btn]"
          @click.prevent="onOpenFile">
          {{ preparedFile.originalName }}
        </ui-button>
      </p>
      <p :class="[proxyStyles?.title]">
        {{ preparedFile.size }}
      </p>
    </div>
    <ui-button
      v-if="canEdit"
      :styles="[proxyStyles?.button, proxyButtonStyles.linkDefaultTheme, proxyButtonStyles.btn]"
      @click.prevent="onDelete(file)">
      <ui-icon
        name="trash"
        :width="24"
        :height="24"
        :stroke-color="BRAND_RED" />
    </ui-button>
    <ui-button
      v-else
      v-slot="{ color }"
      :styles="[proxyStyles?.button, proxyButtonStyles.linkDefaultTheme, proxyButtonStyles.btn]"
      @click.prevent="onDownloadFile">
      <ui-icon
        name="download"
        :width="24"
        :height="24"
        :color="color" />
    </ui-button>
  </div>
</template>

<script lang="ts" setup>
import { computed, inject } from 'vue';
import { keyStyles, Styles } from '@/components';
import { BRAND_RED } from '../../core/color';
import { downloadFile, prepareFile } from '../../utils';
// import UiImage from "../UiImage.vue";
import UiIcon from '../icon/UiIcon.vue';
import UiButton from '../button/UiButton.vue';
import { UiDropzoneItemStyles } from './index';

const props = withDefaults(defineProps<{
  file?: any,
  canEdit?: boolean,
  dropzoneItemStyles?: UiDropzoneItemStyles,
  buttonStyles?: any
}>(), {
  // eslint-disable-next-line @typescript-eslint/no-empty-function
  file: () => {},
  canEdit: false,
});

const emits = defineEmits<{(event: 'delete', value: any): void; }>();

const styles = inject<Styles | undefined>(keyStyles);
const proxyStyles = computed(() => (props.dropzoneItemStyles ? props.dropzoneItemStyles : styles?.components.dropzone.dropzoneItem));

const proxyButtonStyles = computed(() => (props.buttonStyles ? props.buttonStyles : styles?.components.button.uiButton));

const browserFiles = [
  'png',
  'jpg',
  'jpeg',
  'gif',
  'svg',
  'pdf',
];

const preparedFile: any = computed(() => prepareFile(props.file));

const onDownloadFile = () => {
  downloadFile(preparedFile.value.url, preparedFile.value.originalName);
};

const onOpenFile = () => {
  if (browserFiles.includes(preparedFile.value.ext)) {
    window.open(preparedFile.value.url, 'downloadFile');
  } else {
    onDownloadFile();
  }
};

const onDelete = (file: any) => {
  emits('delete', file);
};

// export default defineComponent({
//   name: 'UiDropzoneItem',
//   components: {
//     UiButton,
//     // UiImage,
//     UiLink,
//     UiIcon
//   },
//   props: {
//     file: {
//       type: Object,
//       default: () => ({}),
//     },
//     canEdit: {
//       type: Boolean,
//       default: false,
//     },
//     styles: {
//       type: Object
//     },
//     buttonStyles: {
//       type: Object
//     }
//   },

//   emits: ['delete'],

//   setup(props, ctx) {

//     const styles = inject('styles')

//     const proxyStyles = computed(() => {
//       return props.styles ? props.styles : styles.components.dropzone.dropzoneItem
//     })

//     const proxyButtonStyles = computed(() => {
//       return props.buttonStyles ? props.buttonStyles : styles.components.button.uiButton
//     })

//     const browserFiles = [
//       'png',
//       'jpg',
//       'jpeg',
//       'gif',
//       'svg',
//       'pdf',
//     ];

//     const preparedFile = computed(() => prepareFile(props.file));

//     const onDownloadFile = () => {
//       downloadFile(preparedFile.value.url, preparedFile.value.originalName);
//     };

//     const onOpenFile = () => {
//       if (browserFiles.includes(preparedFile.value.ext)) {
//         window.open(preparedFile.value.url, 'downloadFile');
//       } else {
//         onDownloadFile();
//       }
//     };

//     const onDelete = (file) => {
//       ctx.emit('delete', file);
//     };

//     return {
//       BRAND_RED,
//       preparedFile,
//       onDelete,
//       onDownloadFile,
//       onOpenFile,
//       proxyStyles,
//       proxyButtonStyles
//     };
//   },
// });
</script>
<style lang="scss">
</style>
