<template>
  <div
    v-if="label"
    :class="[proxyStyles?.label]">
    {{ label }}
    <span
      v-if="$attrs.required"
      :class="[proxyStyles?.labelRequired]">*</span>
  </div>
  <div
    :class="[proxyStyles?.dropzone]"
    v-bind="$attrs"
    @dragover="dragover"
    @dragleave="dragleave"
    @drop="drop">
    <input
      :id="fileId"
      ref="input"
      type="file"
      :name="name"
      :multiple="multiple"
      :disabled="disabled"
      :class="[proxyStyles?.dropzoneFileInput]"
      :accept="acceptedFiles"
      @change="onChange">
    <label
      :for="fileId"
      :class="[proxyStyles?.dropzoneLabel]">
      {{ placeholder }}
    </label>
    <ui-preloader v-if="loading" />
    <span
      v-show="errorMessage"
      :class="[proxyStyles?.error]">
      {{ errorMessage }}
    </span>
  </div>
</template>

<script setup lang="ts">
import { computed, ref, inject } from 'vue';
import { keyStyles, Styles } from '@/components';
import { useDropzone, useFileInput } from './useUpload';
import UiPreloader from '../preloader/UiPreloader.vue';
import { UiDropzoneStyles } from './index';

const props = withDefaults(defineProps<{
  model?: any,
  label?: string,
  name?: string,
  placeholder?: string,
  multiple?: boolean,
  disabled?: boolean,
  loading?: boolean,
  accept?: string[],
  limit?: number,
  errorMessage?: string,
  dropzoneStyles?: UiDropzoneStyles,
}>(), {
  model: () => [],
  label: '',
  name: 'default-dropzone',
  placeholder: 'Прикрепить документы',
  disabled: false,
  loading: false,
  accept: () => ['png', 'jpg'],
  limit: 4,
  errorMessage: '',
});

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.dropzoneStyles ? props.dropzoneStyles : styles?.components.dropzone.uiDropzone));

// eslint-disable-next-line vue/define-emits-declaration
const emit = defineEmits(['update:model', 'on-upload-files', 'handle-upload-files-errors']);
const input = ref(null);
const proxyFile = computed({
  get: () => props.model,
  set: (value) => emit('update:model', value),
});
const data = {
  props, emit, input, proxyFile, proxyStyles,
};

const { fileId, acceptedFiles, onChange } = useFileInput(data);
const { dragover, dragleave, drop } = useDropzone(data);

</script>

<style lang="scss" scoped>
</style>
