.ui-modal__actions-title {
    margin-bottom: 24px;
}

.ui-modal__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 68px;
}

.ui-modal__actions-btn {
    width: 100%;
}

.ui-modal__actions-btn-wrapper {
    width: 50%;

    &:first-child {
        padding-right: 12px;
    }

    &:last-child {
        padding-left: 12px;
    }
}