.ui-modal {
    z-index: 1000;
}

.ui-modal__container {
    align-items: center;
    width: $DESKTOP_WIDTH !important;
    margin: 0 auto;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);

    @for $i from 1 through 13 {
        &>.column-start-#{$i} {
            grid-column-start: $i;
        }

        &>.column-end-#{$i} {
            grid-column-end: $i;
        }
    }

    &.gap {
        gap: $DESKTOP_COLUMN_GAP;
    }
}

.ui-modal__content {
    position: relative;
    border-radius: 10px;
    padding: 64px;
    background-color: #fff;
}

.ui-modal__close {
    position: absolute;
    top: 24px;
    right: 24px;
}