<template>
  <div :class="[proxyStyles?.dateRange]">
    <div
      v-if="label"
      :class="[proxyStyles?.label]">
      {{ label }}
      <span
        v-if="$attrs.required"
        :class="[proxyStyles?.required]">*</span>
    </div>
    <date-picker
      v-model="date"
      v-bind="options">
      <template #input-icon>
        <ui-icon name="calendar" />
      </template>
    </date-picker>
    <span
      v-show="errorMessage"
      :class="[proxyStyles?.error]">
      {{ errorMessage }}
    </span>
  </div>
</template>

<script lang="ts" setup>
import { keyStyles, Styles } from '@/components';
import DatePicker from '@vuepic/vue-datepicker';
import { format } from 'date-fns';
import { computed, ComputedRef, inject } from 'vue';
import UiIcon from '../../icon/UiIcon.vue';
import UiDatePickerStyles from './datepicker.types';

type IUiDatePickerProps = {
  model?: Date;
  type?: string;
  label?: string;
  placeholder?: string;
  errorMessage?: string;
  styles?: UiDatePickerStyles;
  disabled?: boolean;
  isYearPicker?: boolean;
  enableTimePicker?: boolean;
  allowedDates?: ()=> Date[];
  format: (date: Date) => string;
}

type IUiDatePickerEmits = {
  (event: 'update:model', value: Date | undefined): void;
}

const props = withDefaults(defineProps<IUiDatePickerProps>(), {
  model: undefined,
  type: 'text',
  label: '',
  placeholder: '',
  errorMessage: '',
  styles: undefined,
  disabled: false,
  isYearPicker: false,
  format: undefined,
  enableTimePicker: false,
  allowedDates: () => [],
});

const emits = defineEmits<IUiDatePickerEmits>();

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.styles ? props.styles : styles?.components.form.uiDateRange));

const formatDate = (date: Date) => format(new Date(date), 'dd.MM.yyyy');

const hasError = computed(() => props.errorMessage.length > 0);
const classes = computed(() => [
  proxyStyles.value?.input,
  hasError.value ? proxyStyles.value?.inputError : '',
].join(' '));

const options: ComputedRef<any> = computed(() => ({
  range: false,
  autoApply: true,
  clearable: false,
  locale: 'ru',
  inputClassName: classes.value,
  placeholder: props.placeholder,
  role: 'datePicker',
  format: props.format ?? formatDate,
  disabled: props.disabled,
  yearPicker: props.isYearPicker,
  enableTimePicker: props.enableTimePicker,
  allowedDates: props.allowedDates,
}));

const date = computed({
  get: () => props.model,
  set: (value) => emits('update:model', value),
});

</script>

<style lang="scss">

</style>
