<template>
  <label
    :class="[proxyStyles?.switch]"
    :for="name">
    <input
      :id="name"
      type="checkbox"
      :checked="model"
      :disabled="disabled"
      @change="$emit('update:model', ($event?.target as HTMLInputElement)?.checked)">
    <span :class="[proxyStyles?.slider]" />
  </label>
</template>

<script lang="ts" setup>
import { keyStyles, Styles } from '@/components';
import { computed, inject } from 'vue';
import { UiSwitchStyles } from './switch.types';

const props = withDefaults(defineProps<{
  name?: string,
  model: boolean,
  disabled?: boolean,
  switchStyles?: UiSwitchStyles,
}>(), {
  name: '',
  disabled: false,
});

// eslint-disable-next-line no-unused-vars
defineEmits<{(event: 'update:model', value: boolean): void; }>();

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.switchStyles ? props.switchStyles : styles?.components.form.uiSwitch));

</script>

<style lang="scss" scoped>

</style>
