<template>
  <div :class="proxyStyles?.index">
    <div
      :class="proxyStyles?.titleWrapper"
      @click="changeIsOpen">
      <div :class="proxyStyles?.title">
        {{ title ?? placeholder }}
      </div>
      <div
        v-if="!hideArrow"
        :class="[proxyStyles?.sideButton, {[`${proxyStyles?.sideButtonActive}`] : isOpenDropdown }]">
        <ui-icon
          :color="proxyStyles?.color"
          :name="isOpenDropdown ? 'chevron-up' : 'chevron-down'"
          :class="proxyStyles?.sideButtonIcon" />
      </div>
    </div>

    <div
      v-if="isOpenDropdown"
      :class="proxyStyles?.dropdownSlot">
      <slot
        :slot-model="model"
        :update-slot-model="updateSlotModel">
        <ul
          :class="[proxyStyles?.dropdownList]">
          <li
            v-for="item, index in selectItems"
            :key="`${item.id}_${index}`"
            :class="proxyStyles?.dropdownItem"
            tabindex="0"
            @click="clickOnDropdownItem(item)">
            <div
              v-if="isSelectMultiple"
              :class="[
                proxyStyles?.dropdownCheckbox,
                {[`${proxyStyles?.dropdownCheckboxActive}`]: isActive(item.id) }
              ]">
              <ui-icon
                v-show="isActive(item.id)"
                name="icon_check"
                :color="WHITE" />
            </div>
            <div
              v-if="item.title"
              :class="proxyStyles?.dropdownItemTitle">
              {{ item.title }}
            </div>
            <ui-icon
              v-if="item.icon"
              :color="proxyStyles?.dropdownItemColor"
              :name="item.icon" />
          </li>
        </ul>
      </slot>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Styles, UiIcon, keyStyles } from '@/index';
import { computed, inject, ref } from 'vue';
import { WHITE } from '@/core/color';
import UiButtonDropdownStyles, { IButtonDropdownItem } from './button-dropdown.types';

type IUiButtonDropdown = {
  model?: any, // IButtonDropdownItem | string | number
  selectItems?: IButtonDropdownItem[];
  isSelectMultiple?: boolean;
  hideArrow?: boolean;
  placeholder?: string;
  disabled?: boolean;
  buttonDropdownStyles?: UiButtonDropdownStyles;
};

type IUiButtonDropdownEmits = {
  (event: 'update:model', payload: any): void; // IButtonDropdownItem | string | number
  // eslint-disable-next-line @typescript-eslint/ban-types
  // (event: 'select', payload: IButtonDropdownItem): void;
}

const props = withDefaults(defineProps<IUiButtonDropdown>(), {
  selectItems: () => [],
  isSelectMultiple: false,
  hideArrow: false,
  model: undefined,
  placeholder: '',
  disabled: false,
  buttonDropdownStyles: undefined,
});
const emits = defineEmits<IUiButtonDropdownEmits>();

const styles = inject<Styles | undefined>(keyStyles);
const proxyStyles = computed(() => (props.buttonDropdownStyles ? props.buttonDropdownStyles : styles?.components.buttonDropdown));

const isOpenDropdown = ref(false);

const title = computed(() => {
  if (props.isSelectMultiple && props.model?.length) {
    return (props.model as IButtonDropdownItem[]).map((i) => i.title).slice(0, 2).join(', ');
  }

  if (typeof props.model === 'string') {
    return props.model;
  }

  return (props.model as IButtonDropdownItem)?.title;
});

const isActive = (id: string) => (props.model as IButtonDropdownItem[]).some((selectedItem) => selectedItem.id === id);

const changeIsOpen = () => {
  isOpenDropdown.value = !isOpenDropdown.value;
};

const clickOnDropdownItem = (item: IButtonDropdownItem) => {
  if (props.isSelectMultiple) {
    const index = (props.model as IButtonDropdownItem[]).findIndex((i) => i.id === item.id);
    const newList: IButtonDropdownItem[] = index > -1
      ? (props.model as IButtonDropdownItem[]).filter((_, i) => i !== index)
      : [...props.model, item];

    emits('update:model', newList);
  } else {
    emits('update:model', item);
    isOpenDropdown.value = false;
  }
};

const updateSlotModel = (value: any) => {
  emits('update:model', value);
};

</script>
