<template>
  <div
    :id="dropdownId"
    :class="[proxyStyles?.dropdown]"
    tabindex="-1"
    @blur="isActive = false">
    <div
      v-if="disabled"
      :class="[proxyStyles?.disabled]" />
    <slot
      name="activator"
      :on="activatorHandlers"
      :is-active="isActive" />
    <ul
      v-show="isActive"
      :class="[proxyStyles?.list, `${proxyStyles?.list}_${dropdownId?.replace('.', '')}`]">
      <li
        v-for="(item, index) in items"
        :id="item.id"
        :key="item.id"
        :class="[proxyStyles?.item, index]"
        @click="onSelect(item)">
        <span :class="[proxyStyles?.text]">{{ item.title }}</span>
        <ui-icon
          v-show="selectedIndexList.find(selectedIndex => selectedIndex === item.id) !== undefined"
          name="icon_check"
          :color="GRAY_100" />
      </li>
      <li
        v-if="canAddNewOption"
        :class="[proxyStyles?.item]"
        @click="emits('addOption', inputValue.trim())">
        <span :class="[proxyStyles?.text]">{{ inputValue + ` ${'(Добавить новый)'}` }}</span>
        <ui-icon
          v-show="false"
          name="icon_check"
          :color="GRAY_100" />
      </li>
    </ul>
  </div>
</template>

<script lang="ts" setup>
import { keyStyles, Styles } from '@/components';
import {
  ref, computed, inject, watch, Ref, onMounted,
} from 'vue';
import { GRAY_100 } from '../../../core/color';
import UiIcon from '../../icon/UiIcon.vue';
import { IUiDropdownEmits, IUiDropdownProps } from './dropdown.types';
import { SelectOption } from '../select/select.types';

const props = withDefaults(defineProps<IUiDropdownProps>(), {
  selectedIndexList: () => [-1],
  items: (): SelectOption[] => [],
  collectionName: '',
  inputValue: '',
  disabled: false,
  isSelectMultiple: false,
  dropdownStyles: undefined,
  expandable: false,
});

// eslint-disable-next-line no-unused-vars

const emits = defineEmits<IUiDropdownEmits>();

const isActive = ref(false);

const activeDropdownItem = ref(-1);

const dropdownItems: Ref<HTMLCollection | undefined> = ref();

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.dropdownStyles ? props.dropdownStyles : styles?.components.form.uiDropdown));

const canAddNewOption = computed(() => props.inputValue.trim().length > 0
  && !props.items.map((item: SelectOption) => item.title.toLowerCase())
    .includes(props.inputValue.toLowerCase().trim()) && props.expandable);

const onSelect = (item: SelectOption) => {
  if (!props.disabled) {
    emits('select', item);
    if (!props.isSelectMultiple) {
      isActive.value = false;
    }
  }
  if (dropdownItems.value) { (dropdownItems.value[0] as HTMLElement).scrollIntoView({ behavior: 'auto', block: 'nearest', inline: 'start' }); }
};

const getCurrentActiveOption = () => {
  if (dropdownItems.value) {
    Array.from(dropdownItems.value).forEach((dropdownItem) => {
      dropdownItem.classList.remove(`${proxyStyles.value?.itemFocused}` ?? '');
    });

    (dropdownItems.value[activeDropdownItem.value] as HTMLElement).classList.add(`${proxyStyles.value?.itemFocused}` ?? '');
    (dropdownItems.value[activeDropdownItem.value] as HTMLElement).scrollIntoView({ behavior: 'auto', block: 'nearest', inline: 'start' });
  }
};

const activatorHandlers = {
  click: (event: Event) => {
    if (!props.disabled && (event.target as HTMLInputElement).classList.value === 'input') {
      isActive.value = true;
    } else {
      activeDropdownItem.value = -1;
      isActive.value = !isActive.value;
    }
    if (isActive.value) {
      document.getElementById(`${props.dropdownId}123`)?.focus();
      emits('focus');
    }
  },
  keydown: (event: KeyboardEvent) => {
    dropdownItems.value = document.querySelector(`.${proxyStyles?.value?.list}_${props.dropdownId?.replace('.', '')}` ?? '')?.children;

    if (dropdownItems.value) {
      if (event.key === 'ArrowDown') {
        activeDropdownItem.value = activeDropdownItem.value === dropdownItems.value.length - 1 ? 0 : activeDropdownItem.value += 1;

        getCurrentActiveOption();
      } else if (event.key === 'ArrowUp') {
        activeDropdownItem.value = activeDropdownItem.value <= 0 ? dropdownItems.value.length - 1 : activeDropdownItem.value -= 1;

        getCurrentActiveOption();
      } else {
        activeDropdownItem.value = -1;
      }
    }
  },
  keyup: (event: KeyboardEvent) => {
    if (event.key === 'Enter') {
      const activeItem = Array.from(dropdownItems.value ?? [])
        .filter((dropdownItem) => dropdownItem.classList.contains(`${proxyStyles.value?.itemFocused}` ?? ''))[0] as HTMLElement;

      if (activeItem && dropdownItems.value && isActive.value) {
        if (activeItem.innerText.includes('(Добавить новый)') && props.inputValue.trim().length > 0 && props.expandable) {
          emits('addOption', activeItem.innerText.replace('(Добавить новый)', '').trim());
          (dropdownItems.value[0] as HTMLElement).scrollIntoView({ behavior: 'auto', block: 'nearest', inline: 'start' });
        } else {
          onSelect({
            id: props.items.filter((option) => option.title === activeItem.innerText.trim())[0]?.id ?? props.optionsLength,
            collectionName: props.collectionName,
            title: activeItem.innerText.trim(),
          });
        }
        Array.from(dropdownItems.value ?? []).forEach((dropdownItem) => {
          dropdownItem.classList.remove(`${proxyStyles.value?.itemFocused}` ?? '');
        });
        isActive.value = false;
      } else if (props.inputValue.trim().length > 0 && props.expandable && dropdownItems.value && isActive.value) {
        if (!props.items.map((item: SelectOption) => item.title.toLowerCase()).includes(props.inputValue.toLowerCase().trim())) {
          emits('addOption', props.inputValue.trim());
          (dropdownItems.value[0] as HTMLElement).scrollIntoView({ behavior: 'auto', block: 'nearest', inline: 'start' });
        } else {
          onSelect({
            id: props.items.filter((option) => option.title === props.inputValue.trim())[0]?.id ?? props.optionsLength,
            collectionName: props.collectionName,
            title: props.inputValue.trim(),
          });
        }
      } else {
        isActive.value = !isActive.value;
      }
    }

    if (event.key === 'Escape') {
      isActive.value = false;
    }
  },
};

watch(() => props.items, () => {
  dropdownItems.value = document.querySelector(`.${proxyStyles?.value?.list}_${props.dropdownId?.replace('.', '')}` ?? '')?.children;
});

onMounted(() => {
  dropdownItems.value = document.querySelector(`.${proxyStyles?.value?.list}_${props.dropdownId?.replace('.', '')}` ?? '')?.children;
});

</script>

<style lang="scss" scoped>
</style>

