<template>
  <div :class="[proxyStyles?.checklist]">
    <checklist-item
      v-if="defaultOption"
      :styles="proxyChecklistItemStyles"
      :active="isDefaultOptionActive"
      @click="changeFilter(defaultOption)">
      {{ defaultOption }}
    </checklist-item>
    <checklist-item
      v-for="(item, index) in options"
      :key="'' + item + index"
      :active="isActive(model, item)"
      :styles="proxyChecklistItemStyles"
      @click="changeFilter(item)">
      {{ item }}
    </checklist-item>
  </div>
</template>

<script lang="ts" setup>
import {
  ref, computed, watch, inject, onMounted,
} from 'vue';
import { keyStyles, Styles } from '@/components';
import { UiCheckListStyles } from './checklist.types';
import ChecklistItem from '../checklistitem/ChecklistItem.vue';
import CheckListItemStyles from '../checklistitem/checklist-item.types';

const props = withDefaults(defineProps<{
    model: string[],
    checklistStyles?: UiCheckListStyles,
    checklistItemStyles?: CheckListItemStyles,
    defaultOption?: string,
    options: string[],
    type?: string,
}>(), {
  model: (): string[] => [],
  defaultOption: 'Неважно',
  type: 'unique',
});

// eslint-disable-next-line no-unused-vars
const emits = defineEmits<{(event: 'update:model', model: string[]): void}>();

const styles = inject <Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.checklistStyles ? props.checklistStyles : styles?.components.form.checklist.uiChecklist));

const proxyChecklistItemStyles = computed(() => (props.checklistItemStyles ? props.checklistItemStyles : styles?.components.form.checklist.checklistItem));

// eslint-disable-next-line no-shadow
const isActive = (model: string[], item: string) => model.some((elem) => elem === item);
const isDefaultOptionActive = ref(true);

const changeFilter = (item: string) => {
  if (item === props.defaultOption) {
    isDefaultOptionActive.value = true;
    emits('update:model', []);

    return;
  }

  isDefaultOptionActive.value = false;

  if (props.type === 'unique') {
    emits('update:model', props.model[0] === item ? [] : [item]);

    return;
  }

  let filters = [...props.model];

  filters = isActive(filters, item) ? filters.filter((element) => element !== item) : [...filters, item];

  if (!filters.length) {
    isDefaultOptionActive.value = true;
  }
  emits('update:model', !filters.length ? [] : filters);
};

watch(() => props.model, () => {
  if (!props.model.length) {
    isDefaultOptionActive.value = true;
  }
}, { deep: true });

onMounted(() => {
  if (props.model.some((option) => props.options.includes(option))) {
    isDefaultOptionActive.value = false;
  }
});

</script>

<style scoped lang="scss">
</style>
