<template>
  <ul
    :class="[proxyStyles?.fileList]">
    <li
      v-for="file, index in files"
      :key="index"
      :class="[proxyStyles?.file]">
      <ui-external-link
        v-if="file.thumbnailUrl"
        :link="file.link"
        target="_blank"
        :class="[proxyStyles?.type]">
        <ui-image
          :src="file.link ? file.link : file.thumbnailUrl"
          :preview="file.thumbnailUrl" />
      </ui-external-link>
      <ui-icon
        v-else
        :name="type2icon(mime2type(file.type))"
        :width="50"
        :height="50" />
      <div :class="[proxyStyles?.info]">
        <div :class="[proxyStyles?.infoContainer]">
          <div :class="[proxyStyles?.attributes]">
            <ui-button
              :styles="['ui-button', proxyStyles?.text ?? '', proxyStyles?.textPrimary ?? '']"
              @click.prevent="emits('download-file', { name: file.name, link: file.link })">
              {{ file.name }}
            </ui-button>
            <p :class="[proxyStyles?.text, proxyStyles?.textSecondary]">
              {{ formatBytes(file.size) }}
            </p>
          </div>
          <div
            v-if="file.tags?.length"
            :class="[proxyStyles?.tagList]">
            <div
              v-for="tag, tagIndex in getFileTags(file).slice(0, 4)"
              :key="tag + `__${tagIndex}`"
              :class="[proxyStyles?.tag]">
              {{ tag.title }}
            </div>
            <div
              v-if="file.tags.length > 4"
              :class="[proxyStyles?.tag]">
              {{ `+${file.tags.length - 4}` }}
            </div>
          </div>
        </div>
        <ui-button
          id="options-button"
          class="options-button"
          :styles="['ui-button', 'options-button']"
          @click.prevent="changePopupState(file.id)">
          <ui-icon name="options" />
        </ui-button>
        <div
          v-if="isShowPopup && chosenFileId === file.id"
          id="popup"
          :class="[proxyStyles?.popup]">
          <ui-button
            :styles="[proxyStyles?.option ?? '']"
            @click.prevent="emits('download-file', { name: file.name, link: file.link })">
            <ui-icon
              name="download-alt-ikn"
              :width="16"
              :height="16" />
            <p>
              Скачать
            </p>
          </ui-button>
          <ui-button
            :styles="[proxyStyles?.option ?? '']"
            @click.prevent="changePopupSelectState">
            <ui-icon
              name="tag"
              :width="16"
              :height="16" />
            <p>
              Теги
            </p>
          </ui-button>
          <hr :class="[proxyStyles?.hr]">
          <ui-button
            :styles="[proxyStyles?.option ?? '']"
            @click.prevent="!disabled && emits('delete-file', file.id ?? '')">
            <ui-icon
              name="trash-alt-ikn"
              :width="16"
              :height="16" />
            <p>
              Удалить
            </p>
          </ui-button>
        </div>
        <div
          id="popup-select"
          :class="[proxyStyles?.popupSelect]">
          <popup-select
            v-if="isShowPopupSelect && chosenFile?.id === file.id"
            :select-options="tags"
            :model="chosenFile?.tags"
            :disabled="disabled"
            @update:model="(tags: string[]) => emits('update-file-tags', { id: chosenFile?.id ?? '', tags })" />
        </div>
      </div>
    </li>
  </ul>
</template>

<script lang="ts" setup>
import {
  computed, inject, onBeforeUnmount, onMounted, ref,
} from 'vue';
import { keyStyles, Styles } from '..';
import UiButton from '../button/UiButton.vue';
import UiExternalLink from '../button/UiExternalLink.vue';
import UiIcon from '../icon/UiIcon.vue';
import UiImage from '../image/UiImage.vue';
import PopupSelect from '../popup/PopupSelect.vue';
import { DropzoneFile, DropzoneFileListEmits, DropzoneFileListProps } from './dropzone.types';
import { formatBytes } from './useDropzone';
import { mime2type, type2icon } from './utils';

const props = withDefaults(defineProps<DropzoneFileListProps>(), {
  disabled: false,
});
const emits = defineEmits<DropzoneFileListEmits>();

const chosenFileId = ref<string>('');

const isShowPopup = ref<boolean>(false);
const isShowPopupSelect = ref<boolean>(false);

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.styles ? props.styles : styles?.components.dropzone.iknDropzoneFileList));

const chosenFile = computed(() => props.files.find((file) => file.id === chosenFileId.value));

const getFileTags = (file: DropzoneFile) => props.tags.filter((tag) => file.tags?.includes(tag.id));

const changePopupState = (fileId: string) => {
  if (fileId !== chosenFileId.value) {
    chosenFileId.value = fileId;
    isShowPopup.value = true;
    isShowPopupSelect.value = false;

    return;
  }
  isShowPopup.value = !isShowPopup.value;

  if (!isShowPopup.value) isShowPopupSelect.value = false;
};

const changePopupSelectState = () => {
  isShowPopupSelect.value = !isShowPopupSelect.value;
};

const detectClickOutside = (event: Event) => {
  const popupSelect = document.getElementsByClassName(proxyStyles?.value?.popupSelect ?? 'popup-select');
  const popup = document.getElementById('popup') as HTMLElement;
  const optionsButtons = document.getElementsByClassName('options-button');

  const withinBoundaries = event.composedPath().includes(popup)
  || Array.from(popupSelect).some((popupSelectItem) => event.composedPath().includes(popupSelectItem))
  || Array.from(optionsButtons).some((button) => event.composedPath().includes(button));

  if (!withinBoundaries) {
    isShowPopupSelect.value = false;
    isShowPopup.value = false;
    chosenFileId.value = '';
  }
};

onMounted(() => {
  document.addEventListener('click', detectClickOutside);
});

onBeforeUnmount(() => {
  document.removeEventListener('click', detectClickOutside);
});

</script>

<style lang="scss" scoped>
</style>
