<template>
  <div
    v-if="label"
    :class="[proxyStyles?.label]">
    {{ label }}
  </div>
  <div
    :class="[proxyStyles?.dropzone]"
    @dragover="dragover"
    @dragleave="dragleave"
    @drop="drop">
    <input
      :id="fileId"
      ref="input"
      type="file"
      :class="[proxyStyles?.input]"
      :name="name"
      :multiple="multiple"
      :disabled="disabled"
      :accept="acceptableExtensionsParam"
      @change="onChange">
    <ui-icon
      :name="placeholderIcon"
      :width="48"
      :height="48" />
    <div :class="[proxyStyles?.inputPlaceholder]">
      <p>
        {{ placeholder + ' ' }}
      </p>
      <label
        :for="fileId"
        :class="[proxyStyles?.inputLabel]">
        <u>
          {{ fileInputLabel }}
        </u>
      </label>
    </div>
  </div>
  <div :class="[proxyStyles?.footer]">
    <div :class="[proxyStyles?.extensions]">
      <div>
        {{ calculateDropzoneFooterContent().extendsMessage }}
      </div>
      <div
        v-if="acceptableExtensionsToDisplay.length > 2"
        :class="[proxyStyles?.extensionsList]"
        @mouseenter="changeHoverState"
        @mouseleave="changeHoverState">
        {{ calculateDropzoneFooterContent().extendsPopupMessage }}
      </div>
      <div
        v-if="isHovered"
        :class="[proxyStyles?.popup]">
        <p
          v-for="extension, index in acceptableExtensionsToDisplay"
          :key="index"
          :class="[proxyStyles?.extension]">
          {{ extension }}
        </p>
      </div>
    </div>
    <div class="">
      {{ calculateDropzoneFooterContent().limitMessage }}
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, inject, ref } from 'vue';
import { keyStyles, Styles } from '..';
import UiIcon from '../icon/UiIcon.vue';
import { DropzoneEmits, DropzoneProps } from './dropzone.types';
import { useDropzone } from './useDropzone';

const props = withDefaults(defineProps<DropzoneProps>(), {
  model: () => [],
  acceptableExtensions: () => ['png', 'jpeg', 'xlsx', 'jpg'],
  acceptableFileSize: 52428800,
  disabled: false,
  loading: false,
  multiple: false,
  label: '',
  placeholder: 'Перетащите файлы сюда или',
  placeholderIcon: 'file-upload',
  name: 'default-dropzone1',
  limit: 4,
});

const emits = defineEmits<DropzoneEmits>();

const isHovered = ref<boolean>(false);

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.styles ? props.styles : styles?.components.dropzone.iknDropzone));

const {
  input,
  fileId,
  fileInputLabel,
  acceptableExtensionsToDisplay,
  acceptableExtensionsParam,
  calculateDropzoneFooterContent,
  onChange,
  dragover,
  dragleave,
  drop,
} = useDropzone(props, emits);

const changeHoverState = () => {
  isHovered.value = !isHovered.value;
};

</script>

<style lang="scss" scoped>
</style>
