<template>
  <div :class="[proxyStyles?.dateRange]">
    <div :class="[proxyStyles?.label]">
      {{ label }}
      <span
        v-if="$attrs.required"
        :class="[proxyStyles?.required]">*</span>
    </div>
    <date-picker
      v-model="date"
      v-bind="options">
      <template #input-icon>
        <ui-icon name="calendar" />
      </template>
    </date-picker>
    <span
      v-show="errorMessage"
      :class="[proxyStyles?.error]">
      {{ errorMessage }}
    </span>
  </div>
</template>

<script lang="ts" setup>
import { computed, inject } from 'vue';
import DatePicker from '@vuepic/vue-datepicker';
import { format } from 'date-fns';
import { keyStyles, Styles } from '@/components';
import UiIcon from '../../icon/UiIcon.vue';
import UiDateRangeStyles from './daterange.types';

const props = withDefaults(defineProps<{
  model?: any,
  type?: string,
  label?: string,
  placeholder?: string,
  errorMessage?: string,
  styles?: UiDateRangeStyles,
}>(), {
  model: [],
  type: 'text',
  label: '',
  placeholder: '',
  errorMessage: '',
  styles: undefined,
});

// eslint-disable-next-line no-unused-vars
const emits = defineEmits<{(event: 'update:model', value: Date[]): void; }>();

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.styles ? props.styles : styles?.components.form.uiDateRange));

const formatDates = (dates: any) => dates.map((date: any) => format(date, 'dd.MM.yyyy')).join(' - ');

const hasError = computed(() => props.errorMessage.length > 0);
const classes = computed(() => [
  proxyStyles.value?.input,
  hasError.value ? proxyStyles.value?.inputError : '',
].join(' '));

const options = computed(() => ({
  enableTimePicker: false,
  range: true,
  twoCalendars: true,
  autoApply: true,
  clearable: false,
  locale: 'ru',
  inputClassName: classes.value,
  placeholder: props.placeholder,
  format: formatDates,
}));

const date = computed({
  get: () => props.model,
  set: (value) => emits('update:model', value),
});

</script>

<style lang="scss">

</style>
