<template>
  <div :class="[proxyStyles?.select]">
    <ul :class="[proxyStyles?.tagList]">
      <li
        v-for="tag in selectedOptions"
        :key="tag.id"
        :class="[proxyStyles?.tag]">
        <p>
          {{ tag.title }}
        </p>
        <ui-button
          :styles="['ui-button']"
          @click="toggleSelectOption(tag)">
          <ui-icon
            name="close"
            color="#90909E"
            :width="12"
            :height="12" />
        </ui-button>
      </li>
    </ul>
    <input
      v-model="input"
      :class="[proxyStyles?.input]"
      :placeholder="'Введите тег'">
    <ul :class="[proxyStyles?.optionsList]">
      <li
        v-for="option in filteredOptions"
        :key="option.id + filteredOptions.length"
        :class="[proxyStyles?.option, {[`${proxyStyles?.optionChosen}`]: isActive(option.id)}]"
        @click="toggleSelectOption(option)">
        <div :class="[proxyStyles?.checkbox, {[`${proxyStyles?.checkboxActive}`]: isActive(option.id)}]">
          <ui-icon
            v-show="isActive(option.id)"
            name="icon_check"
            color="#fff" />
        </div>
        <p>
          {{ option.title }}
        </p>
      </li>
    </ul>
  </div>
</template>

<script lang="ts" setup>
import { computed, inject, ref } from 'vue';
import { keyStyles, Styles } from '..';
import UiButton from '../button/UiButton.vue';
import { SelectOption } from '../form/select/select.types';
import UiIcon from '../icon/UiIcon.vue';
import { PopupSelectEmits, PopupSelectProps } from './popup-select.types';

const props = withDefaults(defineProps<PopupSelectProps>(), {
  disabled: false,
});

const emits = defineEmits<PopupSelectEmits>();

const input = ref('');

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.styles ? props.styles : styles?.components.popupSelect));

const filteredOptions = computed(() => props.selectOptions.filter((option) => option.title.includes(input.value)));

const selectedOptions = computed(() => props.selectOptions.filter((option) => props.model?.includes(option.id)));

const isActive = (id: string) => props.model?.some((item) => item === id);

const toggleSelectOption = (option: SelectOption) => {
  if (props.disabled) return;

  let chosenOptions = props.model?.length ? [...props.model] : [];

  if (props.model?.find((selectOption) => selectOption === option.id)) {
    chosenOptions = props.model.filter((chosenOption) => chosenOption !== option.id);
  } else {
    chosenOptions.push(option.id);
  }

  emits('update:model', chosenOptions);
};

</script>

<style lang="scss" scoped>
</style>
