<template>
  <div :class="[proxyStyles?.toolbarSpace]" />
</template>

<script lang="ts" setup>
import { keyStyles, Styles } from '@/components';
import { computed, inject } from 'vue';
import WysiwygToolbarSpace from './wysiwyg-toolbarSpace.types';

const props = defineProps<{
  wysiwygToolbarSpaceStyles?: WysiwygToolbarSpace
}>();

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.wysiwygToolbarSpaceStyles ? props.wysiwygToolbarSpaceStyles : styles?.components.form.wysiwyg.wysiwygToolbarSpace));
</script>

<style lang="scss" scoped>
</style>
