<template>
  <ui-icon
    :name="name"
    :color="options.color"
    :width="options.width"
    :height="options.height" />
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import { COLOR } from '../../core';
import UiIcon from '../icon/UiIcon.vue';

const props = withDefaults(defineProps<{
  name: string
}>(), {
  name: 'logo-horizontal-white',
});

const logoList = [
  'logo-horizontal-white',
  'logo-horizontal-dark',
  'logo-ac',
  'logo-idea-kepizo',
];

const [horizWhite, horizDark, ac, kepizo] = logoList;
const defaultParams = {
  [horizWhite]: {
    width: 137,
    height: 44,
    color: COLOR.BRAND_RED,
  },
  [horizDark]: {
    width: 137,
    height: 44,
    color: COLOR.WHITE,
  },
  [ac]: {
    width: 44,
    height: 44,
    color: COLOR.BRAND_RED,
  },
  [kepizo]: {
    width: 49,
    height: 64,
    color: COLOR.BRAND_RED,
  },
};

const options = computed(() => defaultParams[props.name]);

</script>

<style scoped>

</style>
