<template>
  <div
    :class="[proxyStyles?.dropdown]"
    tabindex="-1"
    @blur="isActive = false">
    <div
      v-if="disabled"
      :class="[proxyStyles?.disabled]" />
    <slot
      name="activator"
      :on="activatorHandlers"
      :is-active="isActive" />
    <div
      v-if="isActive"
      :class="[proxyStyles?.list]">
      <div
        v-for="(item, index) in items"
        :key="`${Date.now()}-${item}`"
        :class="[proxyStyles?.item, index]"
        @click="onSelect(index)">
        <span :class="[proxyStyles?.text]">{{ item }}</span>
        <ui-icon
          v-show="selectedIndexList.find(selectedIndex => selectedIndex === index) !== undefined"
          name="icon_check"
          :color="GRAY_100" />
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { keyStyles, Styles } from '@/components';
import {
  ref, computed, inject,
} from 'vue';
import { GRAY_100 } from '../../../core/color';
import UiIcon from '../../icon/UiIcon.vue';
import { UiDropdownStyles } from './dropdown.types';

type DropdownType = {
  selectedIndexList?: number[],
  items?: any,
  disabled?: boolean,
  dropdownStyles?: UiDropdownStyles,
  isSelectMultiple?: boolean,
}

const props = withDefaults(defineProps<DropdownType>(), {
  selectedIndexList: () => [-1],
  disabled: false,
  items: [],
  isSelectMultiple: false,
  dropdownStyles: undefined,
});

// eslint-disable-next-line no-unused-vars
const emits = defineEmits<{(event: 'select', value: any): void; }>();

const isActive = ref(false);

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.dropdownStyles ? props.dropdownStyles : styles?.components.form.uiDropdown));

const onSelect = (item: any) => {
  if (!props.disabled) {
    emits('select', item);
    if (!props.isSelectMultiple) {
      isActive.value = false;
    }
  }
};

const activatorHandlers = {
  click: () => {
    if (!props.disabled) {
      isActive.value = !isActive.value;
    }
  },
};

</script>

<style lang="scss" scoped>
</style>
