<template>
  <div :class="[proxyStyles?.routes]">
    <div :class="[proxyStyles?.wrapper]">
      <div
        v-for="(route, index) in routes"
        :key="`${index}-${route.name}`"
        :class="[
          proxyStyles?.itemDefault,
          { [`${proxyStyles?.itemActive}`]: currentRoute.name === route.name },
          { [`${proxyStyles?.itemMargin}`]: index > 0 }
        ]">
        <ui-link
          :to="route"
          :class="[proxyStyles?.itemLink]">
          {{ route?.meta?.title || route.name }}
        </ui-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, inject } from 'vue';
import { useRoute } from 'vue-router';
import { Styles, keyStyles } from '..';
import UiLink from '../button/UiLink.vue';
import { UiRoutesStyles } from './routes.types';

const props = withDefaults(defineProps<{
  routes?: any[],
  routesStyles?: UiRoutesStyles,
}>(), {
  routes: () => [],
});

const currentRoute = useRoute();

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.routesStyles ? props.routesStyles : styles?.components.uiRoutes));
</script>

<style lang="scss" scoped>
</style>
