@import '../../core/base.scss';

.ui-achievement {
  display: flex;

  &__body,
  &__qty {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $GRAY_0;
    border: 1px solid $GRAY_10;
    border-radius: 20px;
  }

  &__title {
    @extend .body-m;
  }

  &__body {
    padding: 10px 24px 10px 16px;
  }

  &__qty {
    @extend .body-m;
    margin-left: 4px;
    padding: 10px 12px;
  }

  &__emoji {
    margin-right: 8px;
    font-size: 20px;
  }
}