.ui-avatar__image {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    height: 48;
    width: 48;
  }
  .ui-avatar_admin {
    overflow: hidden;
    border-radius: 50px;
    width: 80px;
    height: 80px;
  }