.bread-crumbs-wrapper{
    display: flex;
    justify-content: center;
    z-index: 0;
    width: 100vw;
    height: 148px;
    background-color: #3597F8;
  
  }
  .bread-crumbs-content{
    width: 960px;
    display: flex;
    align-items: center;
  }
  
  .bread-crumbs-title{
    margin-left: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27.24px;
    color: white;
  }
  
  .bread-crumbs-route{
    font-weight: 600;
    font-size: 18px;
    line-height: 27.24px;
    color: white;
    &:hover{
      color: #E5E7E8;
    }
  }
  
  .bread-crumbs-route-active{
    position: relative;
    &:hover::after{
        background-color: #E5E7E8;
    }
    &::after{
      content: '';
      position: absolute;
      left: 0;
      top: 24px;
      width: 100%;
      height: 2px;
      background-color: white;
    }
  }
  
  .bread-crumbs-link{
    cursor: pointer;
  }