.ui-collapsible-wrapper{
  border: 1px solid #8A8C8D;
  border-radius: 10px;
}

.ui-collapsible-wrapper__active{
  border: 1px solid black
}

.ui-collapsible{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ui-collapsible-icon{
    padding-right: 16px;
}
