@import '../../core/base.scss';

.c-ui-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-pagination__btn {
  cursor: pointer;
  border-radius: 4px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  height: 40px;
  width: 40px;
  background-color: $WHITE;
  color: $GRAY_100;
  margin: 0px 4px;
  &:hover {
    color: $BRAND_RED;
    fill: $BRAND_RED;
  }
  &_active {
    color: $WHITE;
    background-color: $BRAND_RED;
    &:hover {
      color: $WHITE;
    }
  }
  &_ellipsis {
    background: none;
    &:hover {
      color: $GRAY_100;
    }
  }
  &_next,
  &_prev {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}