@import '../../core/base.scss';

.ui-routes {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    display: flex;
    box-shadow: 0px -1px 0px 0px inset $GRAY_5;
  }

  &__itemMargin {
    margin-left: 64px;
  }

  &__itemLink {
    padding-bottom: 24px;
  }

  &__item {
    display: flex;
    flex: 0 0 auto;
    width: max-content;
    border-bottom: 2px solid transparent;

    &--active {
      border-color: $BRAND_RED;
    }
  }

}