@import '../../core/vars.scss';

.search-hidden{
  visibility: hidden;
}

.ui-search {
  position: relative;
  display: flex;
  flex-grow: 1;
  cursor: text;

  &__hidden{
    visibility: hidden;
  }
  &__wrapper {
    display: flex;
    border: 1px solid $GRAY_20;
    border-radius: 32px;
  }

  &__label {
    @extend .body-m;
    position: absolute;
    top: 50%;
    left: 32px;
    display: flex;
    align-items: center;
    color: $GRAY_40;
    transform: translateY(-50%);
    cursor: text;

    &__icon {
      margin-right: 8px;
    }
  }

  &__input {
    @extend .body-m;
    flex: 1 1 auto;
    padding: 16px 32px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: $GRAY_100;


    &::placeholder {
      color: transparent;
    }

    &:focus-within::placeholder {
      color: $GRAY_20;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    padding-right: 24px;
    &__hidden{
      visibility: hidden;
    }
    &__divider {
      height: 24px;
      margin: 0 16px;
      border-right: 1px solid $GRAY_20;
    }
  }

  &__action {
    display: flex;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &__icon {}
  }

  &__select {
    border-left: 1px solid $GRAY_20;
    flex-basis: 30%;
  }

}