.ui-tabs {
    position: relative;
    overflow: hidden;
    //width: 735px;
    width: 100%;
    &_default {
      height: 48px;
    }
    &_count {
      height: 108px;
    }
  }
  .ui-tabs-inner {
    position: absolute;
    top: 0;
    transition: left 0.5s ease 0s;
    align-items: center;
  }
  
  .ui-tab-wrapper {
    align-items: center;
  }
  
  .tab {
    width: 172px;
    margin: 0 8px;
    .btn {
      width: inherit;
      white-space: nowrap;
      padding: 10px 24px;
    }
    .btn_type-square {
      display: block;
      white-space: normal;
      padding: 24px;
      text-align: left;
      .btn__tab-title {
          white-space: nowrap;
          padding-bottom: 4px;
      }
      .btn__tab-count {
          white-space: nowrap;
      }
    }
    &__btn {
      position: absolute;
      height: 48px;
      align-items: center;
      background-color: white;
      z-index: 1;
      &_next {
        right: 0;
        top: 0;
        border-left: 1px solid #ededf0;
      }
      &_prev {
        left: 0;
        top: 0;
        border-right: 1px solid #ededf0;
      }
    }
  }
  
  .ui-tabs_count {
    .tab__btn {
      height: 104px;
    }
  }