<template>
  <div :class="[optionsCard?.card]">
    <slot />
  </div>
</template>

<script lang="ts" setup>
import { computed, inject } from 'vue';
import { Styles, keyStyles } from '..';
import { UiCardStyles } from './card.types';

const props = defineProps<{
  cardStyles?: UiCardStyles,
}>();

const styles = inject<Styles | undefined>(keyStyles);

const optionsCard = computed(() => (props.cardStyles ? props.cardStyles : styles?.components.uiCard));

</script>

<style lang="scss" scoped>
</style>
