<template>
  <div :class="[proxyStyles?.slider]">
    <div
      v-if="label"
      :class="[proxyStyles?.label]">
      {{ label }}
    </div>
    <vue-slider
      v-model="modelValue"
      :class="proxyStyles?.customSlider"
      :tooltip="'none'"
      :dot-size="14"
      :dot-style="activeStyle"
      :process-style="activeStyle"
      :rail-style="passiveStyle"
      :step-style="{...passiveStyle, ...sizePositionStyle}"
      :step-active-style="{...activeStyle, ...boxShadowNone, ...sizePositionStyle}"
      :data="data"
      :data-label="'label'"
      :data-value="'value'">
      <template #label="{ active, label }">
        <div :class="['vue-slider-mark-label', proxyStyles?.dataLabel, { active }]">
          {{ label }}
        </div>
      </template>
    </vue-slider>
  </div>
</template>

<script lang="ts" setup>
import {
  inject,
  computed,
} from 'vue';
import { keyStyles, Styles } from '@/components';
import VueSlider, { Value } from 'vue-slider-component';
import { UiSliderStyles } from './slider.types';
import 'vue-slider-component/theme/antd.css';

type SliderData = {
  value: number;
  label: string;
}

type UiSliderProps = {
  name: string;
  model: Value;
  disabled: boolean;
  label?: string;
  data: SliderData[];
  sliderStyles?: UiSliderStyles;
}

type UiSliderEmits = {
  (event: 'update:model', value: Value): void;
}

const props = defineProps<UiSliderProps>();

const emit = defineEmits<UiSliderEmits>();
const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.sliderStyles ? props.sliderStyles : styles?.components.form.uiSlider));

const modelValue = computed({
  get: () => props.model,
  set: (value: Value) => {
    emit('update:model', value);
  },
});

const primaryBackgroundColor = { backgroundColor: '#5F8BFF' };
const secondaryBackgroundColor = { backgroundColor: '#E5E7E8' };
const borderNone = { border: 'none' };
const size14 = { width: '14px', height: '14px' };
const position = { top: '-5px', left: '-5px' };
const boxShadowNone = { boxShadow: 'none' };

const activeStyle = { ...primaryBackgroundColor, ...borderNone };
const passiveStyle = { ...secondaryBackgroundColor, ...borderNone };
const sizePositionStyle = { ...size14, ...position };
</script>
