.ui-wysiwyg__error {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $RED_50;
    font-size: $DESKTOP_FONT_SIZE_S;
    line-height: $DESKTOP_LINE_HEIGHT_S;
    padding-top: 8px;
    min-height: 24px;
}