@import "../../../../core/base";
@import "content";

.ui-wysiwyg {
  position: relative;
  padding-bottom: 32px;
}
.ui-wysiwyg__label {
  font-family: 'TT Norms Bold', 'TT Norms', sans-serif;
  font-size: $DESKTOP_FONT_SIZE_M_BOLD;
  line-height: $DESKTOP_LINE_HEIGHT_M_BOLD;
  font-weight: 700;
  margin-bottom: 16px;
  color: $GRAY_100;

  &-span {
    color: $BRAND_RED;
  }
}
.ui-wysiwyg__container {
  border: 1px solid $GRAY_10;
  border-radius: 8px;
  background-color: $WHITE;
  overflow: hidden;
}
.ui-wysiwyg__container_error {
  border-color: $RED_50;
}