.ui-wysiwyg__toolbar-button {
  padding-right: 8px;
}


.ui-button_wysiwyg {
  background: $WHITE;
  border: 1px solid $WHITE;

  &:hover {
    border-color: $GRAY_30;
  }

  &.disabled {
    opacity: 0.5;
  }
}

.ui-button_wysiwyg-active {
  background: $GRAY_100;
  border: 1px solid $GRAY_100;
  color: white;
  &:hover {
    background: $GRAY_10;
  }

  &.disabled {
    opacity: 0.5;
  }
}

.ui-button_icon-square {
  overflow: hidden;
  padding: 0;
  border-radius: 4px;
  width: 32px;
  height: 32px;
}