<template>
  <div :class="[proxyStyles?.field]">
    <component
      v-bind="{
        errorMessage,
        required,
        errors,
        ...attrs,
      }"
      :is="dict[attrs.as]"
      v-model:model="value"
      @update:model="change"
      @focus="$emit('focus')"
      @on-focus="$emit('focus')"
      @handle-upload-files-errors="(data: any) => $emit('handle-upload-files-errors', data)"
      @on-upload-files="(data: any) => $emit('on-upload-files', data)"
      @update:options="(data: any) => $emit('update-options', data)" />
  </div>
</template>

<script lang="ts" setup>
import { Styles, keyStyles } from '@/components';
import { useField, useFormErrors } from 'vee-validate';
import type { Component } from 'vue';
import {
  computed,
  defineAsyncComponent,
  inject,
  onMounted,
  toRefs,
  watch,
  unref,
} from 'vue';
import { UiFieldStyles, UiField } from './field.types';

type IUiFieldProps = {
    field: UiField,
    fieldStyles?: UiFieldStyles,
  }

type IUiFieldEmits = {
  (e: 'update-options', value: { collectionName: string, title: string}): void;
  (e: 'change-field', value: any): void;
  (e: 'on-upload-files', value?: any): void;
  (e: 'focus'): void;
  (e: 'handle-upload-files-errors', value: any): void;
}

type IUiFieldDictionary = {
  [name: string]: Component
}

const props = defineProps<IUiFieldProps>();
const emit = defineEmits<IUiFieldEmits>();

const styles = inject<Styles | undefined>(keyStyles);
const proxyStyles = computed(() => (props.fieldStyles ? props.fieldStyles : styles?.components.form.uiField));

const { field } = toRefs(props);

const {
  initialValue, ...attrs
} = field.value;

const { required } = attrs.rules ? attrs.rules.exclusiveTests : { required: undefined };

const dict: IUiFieldDictionary = {
  input: defineAsyncComponent(() => import('../input/UiInput.vue')),
  checkbox: defineAsyncComponent(() => import('../checkbox/UiCheckbox.vue')),
  inputBig: defineAsyncComponent(() => import('../inputBig/UiInputBig.vue')),
  select: defineAsyncComponent(() => import('../select/UiSelect.vue')),
  selectMultiple: defineAsyncComponent(() => import('../selectMultiple/UiSelectMultiple.vue')), // deprecated use UiSelectTags instead
  wysiwyg: defineAsyncComponent(() => import('../wysiwyg/wysiwyg/UiWysiwyg.vue')),
  dateRange: defineAsyncComponent(() => import('../dateRange/UiDateRange.vue')),
  dropzone: defineAsyncComponent(() => import('../../dropzone/UiDropzone.vue')),
  dadata: defineAsyncComponent(() => import('../dadata/UiDadata.vue')),
  checklist: defineAsyncComponent(() => import('../checklist/UiChecklist/UiChecklist.vue')),
  inputRange: defineAsyncComponent(() => import('../inputRange/UiInputRange.vue')),
  datePicker: defineAsyncComponent(() => import('../datePicker/UiDatePicker.vue')),
  inputTags: defineAsyncComponent(() => import('../input-tags/UiInputTags.vue')),
  radioGroup: defineAsyncComponent(() => import('../radio-group/UiRadioGroup.vue')),
  slider: defineAsyncComponent(() => import('../slider/UiSlider.vue')),
  selectTags: defineAsyncComponent(() => import('../select-tags/UiSelectTags.vue')),
};

const {
  errorMessage, value, handleChange, setValue,
} = useField(attrs.name, attrs.rules, { initialValue: unref(initialValue) });

const errors = useFormErrors();

const change = (data: any) => {
  emit('change-field', data);
  handleChange(data, false);
};

onMounted(() => {
  setValue(unref(props.field.initialValue));
});

watch(() => props.field, () => {
  attrs.options = props.field.options;
  attrs.disabled = props.field.disabled;
  attrs.name = props.field.name;
  attrs.as = props.field.as;
  attrs.rules = props.field.rules;
  attrs.maskitoOptions = props.field.maskitoOptions;
  attrs.tooltip = props.field.tooltip;
  attrs.placeholder = props.field.placeholder;
  attrs.id = props.field.id;
}, { deep: true });

watch(() => props.field.initialValue, () => {
  setValue(unref(props.field.initialValue));
});

</script>

<style scoped></style>
