<template>
  <div
    :class="[proxyStyles?.spinnerDefault, {[`${proxyStyles?.spinnerCenter}`]: isCentered}]" />
  <div :class="[proxyStyles?.overlay]" />
</template>

<script lang="ts" setup>
import { computed, inject } from 'vue';
import { Styles, keyStyles } from '..';
import { UiPreloaderStyles } from './preloader.types';

const props = withDefaults(defineProps<{
  isCentered?: boolean,
  preloaderStyles?: UiPreloaderStyles,
}>(), {
  isCentered: false,
});

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.preloaderStyles ? props.preloaderStyles : styles?.components.uiPreloader));

</script>
