.popup-select {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 2px 21px 1px rgba(0, 0, 0, 0.1);
  width: 360px;
}

.popup-select__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.popup-select__tag {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: #EFEFF8;
  color: #90909E;
}

.popup-select__input {
  font-family: 'TT Norms Medium', 'TT Norms', sans-serif;
  font-size: 14px;
  border: none;
  outline: none;
  border-bottom: 2px solid #F5F5FB;
  padding-bottom: 8px;
}

.popup-select__options-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-height: 300px;
  overflow-y: scroll;
}

.popup-select__option {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
}

.popup-select__option:hover {
  background-color: #F7F7FA;
  cursor: pointer;
}

.popup-select__option_chosen {
  color: #90909E;
}

.popup-select__checkbox {
  border: 1.5px solid #5F8BFF;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.popup-select__checkbox_active {
  background-color: #5F8BFF;
}
