<template>
  <label
    :class="[
      proxyStyles?.defaultInput,
      { [`${proxyStyles?.errorInput}`]: errorMessage },
    ]"
  >
    <span
      :class="[
        proxyStyles?.defaultLabel,
        { [`${proxyStyles?.errorLabel}`]: errorMessage },
        { [`${proxyStyles?.activeLabel}`]: isActive },
        { [`${proxyStyles?.bodyInput}`]: !isActive },
      ]"
    >
      {{ label }}
    </span>

    <div :class="[proxyStyles?.wrapper]">
      <input
        id="input"
        v-maskito="maskitoOptions"
        v-bind="inputAttrs"
        :placeholder="placeholder"
        role="input"
        :value="props.model"
        @input="
          $emit(
            'update:model',
            ($event.target as HTMLInputElement).value !== ''
              ? ($event.target as HTMLInputElement).value
              : null
          )
        "
        @focus="onFocus"
        @blur="onFocus"
      />
      <div
        v-if="type === 'password'"
        id="input__icon"
        :class="[proxyStyles?.icon]"
        @click="onIconClick"
      >
        <ui-icon
          :name="isPasswordHidden ? 'unview' : 'view'"
          :color="GRAY_40"
        />
      </div>
    </div>

    <span v-show="errorMessage" :class="[proxyStyles?.error]">
      {{ errorMessage }}
    </span>
  </label>
</template>

<script lang="ts" setup>
import { ref, computed, inject } from "vue";
import { maskito as vMaskito } from "@maskito/vue";
import { MASKITO_DEFAULT_OPTIONS } from "@maskito/core";
import { keyStyles, Styles } from "@/components";
import { GRAY_40 } from "../../../core/color";
import { useInput } from "../useInput";
import UiIcon from "../../icon/UiIcon.vue";
import UiInputStyles from "./input.types";

type IInputProps = {
  model?: any;
  type?: string;
  name?: string;
  label?: string;
  placeholder?: string;
  errorMessage?: string;
  disabled?: boolean;
  inputStyles?: UiInputStyles;
  maskitoOptions: any; // todo: https://github.com/vuejs/core/issues/8569
};

const props = withDefaults(defineProps<IInputProps>(), {
  model: "",
  type: "text",
  name: "",
  placeholder: "",
  label: "",
  errorMessage: "",
  copy: "unmasked",
  disabled: false,
  inputStyles: undefined,
  maskitoOptions: MASKITO_DEFAULT_OPTIONS,
});

// eslint-disable-next-line no-unused-vars
const emits = defineEmits<{ (event: "update:model", value: any): void }>();

const { isActive, onFocus } = useInput(props, emits);

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() =>
  props.inputStyles ? props.inputStyles : styles?.components.form.uiInput
);

const isPasswordHidden = ref(true);
const inputType = ref(props.type);

const onIconClick = () => {
  isPasswordHidden.value = !isPasswordHidden.value;
  if (isPasswordHidden.value) {
    inputType.value = props.type;
  } else {
    inputType.value = props.type === "password" ? "text" : props.type;
  }
};

const inputAttrs = ref({
  type: inputType,
  name: props.name,
  // value: props.model,
  modelValue: props.model,
  disabled: props.disabled,
  class: [proxyStyles.value?.input],
});
</script>

<style lang="scss" scoped></style>
