<template>
  <div>
    <slot
      :accordion="accordion"
      :update-accordion="updateAccordion" />
  </div>
</template>

<script lang="ts" setup>
import { ref } from 'vue';

const props = defineProps<{size: number}>();

const accordion = ref<boolean[]>(Array(props.size).fill(false));

accordion.value[0] = true;

const updateAccordion = (value: boolean, index: number) => {
  accordion.value.forEach((item, arrayIndex) => {
    accordion.value[arrayIndex] = false;
  });
  accordion.value[index] = value;
};

</script>
