<template>
  <slot />
</template>

<script lang="ts" setup>
import { provide } from "vue";
import { Styles, keyStyles } from "./";

type IStylesProp = { styles?: Styles };

const props = defineProps<IStylesProp>();

// eslint-disable-next-line symbol-description

provide(keyStyles, props.styles as Styles);
</script>

<style lang="scss"></style>
