<template>
  <div :class="[proxyStyles?.collapsibleWrapper, {[`${proxyStyles?.collapsibleWrapperActive}`] : isOpen}]">
    <div
      :class="[proxyStyles?.collapsible]"
      @click="openCollapse">
      <slot name="header" />
      <div :class="[proxyStyles?.icon]">
        <ui-icon
          :height="40"
          :width="40"
          :color="proxyStyles?.color ?? GRAY_100"
          :name="icon" />
      </div>
    </div>
    <transition
      name="expand"
      @enter="enter"
      @after-enter="afterEnter"
      @leave="leave">
      <div
        v-show="isOpen"
        :class="[proxyStyles?.collapsibleContent]">
        <slot />
      </div>
    </transition>
  </div>
</template>

<script lang="ts" setup>
import { computed, inject } from 'vue';
import { Styles, keyStyles } from '.';
import { uiCollapsibleStyles } from './collapsible/collapsible.types';
import UiIcon from './icon/UiIcon.vue';
import { GRAY_100 } from '../core/color';

type IUiCollapsibleProps = {
  isOpen: boolean;
  index: number;
  styles?: uiCollapsibleStyles
}

const props = withDefaults(defineProps<IUiCollapsibleProps>(), {
  isOpen: false,
  styles: undefined,
});

// eslint-disable-next-line no-unused-vars
const emits = defineEmits<{(event: 'update:isOpen', value: boolean, index: number): void; }>();

const styles: Styles | undefined = inject(keyStyles);

const enter = (element: Element) => {
  const { width } = getComputedStyle(element);

  element.setAttribute('style', `width: ${width}; position: absolute; visibility: hidden; height: auto;`);

  const { height } = getComputedStyle(element);

  element.setAttribute('style', `width: ${null}; position: ${null}; visibility: ${null}; height: 0;`);

  requestAnimationFrame(() => {
    element.setAttribute('style', `height: ${height};`);
  });
};

const afterEnter = (element: Element) => {
  element.setAttribute('style', 'height: auto;');
};

const leave = (element: Element) => {
  const { height } = getComputedStyle(element);

  element.setAttribute('style', `height: ${height};`);

  requestAnimationFrame(() => {
    element.setAttribute('style', 'height: 0;');
  });
};

const isOpen = computed({
  get() {
    return props.isOpen;
  },
  set(value: boolean) {
    emits('update:isOpen', value, props.index);
  },
});

const proxyStyles = computed(() => (props.styles ? props.styles : styles?.components.uiCollapsible));
const icon = computed(() => (isOpen.value ? 'chevron-up' : 'chevron-down'));

const openCollapse = () => {
  isOpen.value = !isOpen.value;
};

</script>

<style lang="scss" scoped>

.main-info__section-title-icon{
  cursor: pointer;
}

.expand-enter-active, .expand-leave-active {
transition: height 1s ease-in-out;
overflow: hidden;
}

.expand-enter,
.expand-leave-to {
height: 0;
}
</style>
