<template>
  <draggable
    :list="list"
    :sort="canSort"
    item-key="_id"
    @start="drag = true"
    @end="drag = false"
    @change="onChange">
    <template #item="{ element, index }">
      <div :class="itemClass">
        <slot
          name="item"
          :item="element"
          :index="index" />
      </div>
    </template>
  </draggable>
</template>

<script lang="ts">
import { ref, defineComponent } from 'vue';
import draggable from 'vuedraggable';
import { cloneDeep } from 'lodash-es';

export default defineComponent({
  name: 'UiDraggableList',
  components: {
    draggable,
  },
  props: {
    list: {
      type: Array,
      default: () => [],
    },
    itemClass: {
      type: String,
      default: '',
    },
    canSort: {
      type: Boolean,
      default: true,
    },
    sortBy: {
      type: String,
      default: 'sort',
    },
  },
  emits: ['on-update-sort'],
  setup(props, { emit }) {
    const drag = ref(false);

    const onChange = () => {
      const updatedList = cloneDeep(props.list).map((item: any, index) => ({
        _id: item._id,
        [props.sortBy]: index,
      }));

      emit('on-update-sort', updatedList);
    };

    return {
      drag,
      onChange,
    };
  },
});
</script>

<style scoped>

</style>
