<template>
  <div class="flex ui-tab-wrapper">
    <div
      class="ui-tabs"
      :class="classTabContainerByType[type]">
      <div
        v-if="!oneScreen"
        v-show="isPrevBtnVisible"
        class="pr-8 flex tab__btn tab__btn_prev">
        <ui-button
          v-slot="{ color }"
          :size="40"
          theme="secondary"
          type="icon-circle"
          @click="scrollVisibleTab(PREVIOUS)">
          <ui-icon
            name="chevron-left"
            :color="color" />
        </ui-button>
      </div>
      <div
        class="flex ui-tabs-inner"
        :class="classTabContainerByType[type]"
        style="left:0;">
        <div
          v-for="(tab, index) in tabs"
          :key="`tab-${type}-${index}`"
          class="tab"
          :class="paddingOfTabByType[type]">
          <!--  todo: заменить isEqual на проверку _id или id -->
          <ui-button
            :size="sizeBtnTabByType[type]"
            :theme="isEqual(activeTab, tab) ? 'default' : 'secondary'"
            :class="classBtnTabByType[type]"
            @click="changeActiveTab(tab)">
            <div class="btn__tab-title">
              {{ tab.title }}
            </div>
            <div
              v-if="type === 'tab-total-count'"
              class="body-l-bold btn__tab-count">
              {{ prepareCountText(tab.count) }}
            </div>
          </ui-button>
        </div>
      </div>
      <div
        v-if="!oneScreen"
        v-show="isNextBtnVisible"
        class="pl-8 flex tab__btn tab__btn_next">
        <ui-button
          v-slot="{ color }"
          :size="40"
          theme="secondary"
          type="icon-circle"
          @click="scrollVisibleTab(NEXT)">
          <ui-icon
            name="chevron-right"
            :color="color" />
        </ui-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { isEqual } from 'lodash-es';
import { ref } from 'vue';
import UiButton from './button/UiButton.vue';
import UiIcon from './icon/UiIcon.vue';

const [PREVIOUS, NEXT] = ['previous', 'next'];

// const props = defineProps({
//   tabs: {
//     type: any[],
//     default: () => [],
//   },
//   type: {
//     type: String,
//     default: 'default',
//   },
//   width: {
//     type: String,
//     default: '100%',
//   },
//   oneScreen: {
//     type: Boolean,
//     default: false,
//   },
// });

const props = withDefaults(defineProps<{
  tabs?: any,
  width?: string,
  oneScreen?: boolean,
  type?: string,
}>(), {
  tabs: () => [],
  oneScreen: false,
  width: '100%',
  type: 'default',
});

// eslint-disable-next-line vue/define-emits-declaration
const emit = defineEmits(['on-change-tab']);

const activeTab = ref(props.tabs[0]);

const isPrevBtnVisible = ref(false);
const isNextBtnVisible = ref(true);

setTimeout(() => { isNextBtnVisible.value = (document.querySelector('.ui-tabs-inner') as HTMLElement)?.offsetWidth >= (document.querySelector('.ui-tabs') as HTMLElement)?.offsetWidth; }, 500);
const classBtnTabByType: any = {
  default: 'btn',
  'tab-total-count': 'btn_type-square',
};

const classTabContainerByType: any = {
  default: 'ui-tabs_default',
  'tab-total-count': 'ui-tabs_count',
};

const sizeBtnTabByType: any = {
  default: 40,
  'tab-total-count': 96,
};

const paddingOfTabByType: any = {
  default: 'pr-1',
  'tab-total-count': 'pr-6',
};

const prepareCountText = (count: any) => `${count ?? 0} идей`;

const scrollVisibleTab = (side: any) => {
  // todo: заменить классы на ref'ы, чтобы была поддержка нескольких групп табов на одной странице
  const tabs: any = document.getElementsByClassName('tab');
  const tabContainer: any = document.querySelector('.ui-tabs');
  const innerTabContainer: any = document.querySelector('.ui-tabs-inner');
  let pixelToScroll = 0;

  isNextBtnVisible.value = true;
  isPrevBtnVisible.value = true;
  // eslint-disable-next-line no-restricted-syntax
  for (const tab of tabs) {
    if (side === NEXT) {
      // todo: рефактор к читаемому виду
      if (Math.round(tab.getBoundingClientRect().left) > Math.round(tabContainer.getBoundingClientRect().left) && Math.round(tab.getBoundingClientRect().left) + tab.offsetWidth > Math.round(tabContainer.getBoundingClientRect().left) + tabContainer.offsetWidth) {
        pixelToScroll = tab.offsetWidth;
        break;
      }
    } else if (side === PREVIOUS) {
      // todo: рефактор к читаемому виду
      if (Math.round(tab.getBoundingClientRect().left) < Math.round(tabContainer.getBoundingClientRect().left) && Math.round(tab.getBoundingClientRect().left) + tab.offsetWidth >= Math.round(tabContainer.getBoundingClientRect().left)) {
        pixelToScroll = tab.offsetWidth;
        break;
      }
    }
  }

  if (side === NEXT) {
    innerTabContainer.style.left = `${parseInt(innerTabContainer.style.left, 10) - pixelToScroll}px`;
  } else if (side === PREVIOUS) {
    innerTabContainer.style.left = `${parseInt(innerTabContainer.style.left, 10) + pixelToScroll}px`;
  }
  setTimeout(() => {
    // todo: рефактор к читаемому виду
    if (Math.round(innerTabContainer.getBoundingClientRect().left) + innerTabContainer.offsetWidth <= Math.round(tabContainer.getBoundingClientRect().left) + tabContainer.offsetWidth && side === NEXT) {
      isNextBtnVisible.value = false;
    }
    // todo: рефактор к читаемому виду
    if (Math.round(innerTabContainer.getBoundingClientRect().left) >= Math.round(tabContainer.getBoundingClientRect().left) && side === PREVIOUS) {
      isPrevBtnVisible.value = false;
    }
  }, 500);
};

const changeActiveTab = (newActiveTab: any) => {
  activeTab.value = newActiveTab;
  emit('on-change-tab', newActiveTab);
};

</script>

<style lang="scss" scoped>
.ui-tabs {
  position: relative;
  overflow: hidden;
  //width: 735px;
  width: v-bind(width);
  &_default {
    height: 48px;
  }
  &_count {
    height: 108px;
  }
}
.ui-tabs-inner {
  position: absolute;
  top: 0;
  transition: left 0.5s ease 0s;
  align-items: center;
}

.ui-tab-wrapper {
  align-items: center;
}

.tab {
  width: 172px;
  margin: 0 8px;
  .btn {
    width: inherit;
    white-space: nowrap;
    padding: 10px 24px;
  }
  .btn_type-square {
    display: block;
    white-space: normal;
    padding: 24px;
    text-align: left;
    .btn__tab-title {
        white-space: nowrap;
        padding-bottom: 4px;
    }
    .btn__tab-count {
        white-space: nowrap;
    }
  }
  &__btn {
    position: absolute;
    height: 48px;
    align-items: center;
    background-color: white;
    z-index: 1;
    &_next {
      right: 0;
      top: 0;
      border-left: 1px solid #ededf0;
    }
    &_prev {
      left: 0;
      top: 0;
      border-right: 1px solid #ededf0;
    }
  }
}

.ui-tabs_count {
  .tab__btn {
    height: 104px;
  }
}
</style>
