<template>
  <label :class="[proxyStyles?.inputTags]">
    <span
      v-if="label"
      :class="[proxyStyles?.inputTagsLabel]">
      {{ label }}
    </span>

    <div
      :class="[
        proxyStyles?.inputTagsWrapper,
        { [`${proxyStyles?.inputTagsInputError}`]: errorMessage }]">
      <div
        v-for="tag in model"
        :key="tag"
        :class="[proxyStyles?.inputTagsTag]">
        <p>
          {{ tag }}
        </p>
        <ui-icon
          v-if="!disabled"
          name="close"
          :class="[proxyStyles?.inputTagsIcon]"
          :width="14"
          :height="14"
          @click="removeTag(tag)" />
      </div>
      <input
        :class="[proxyStyles?.inputTagsInput]"
        v-bind="inputAttrs"
        :value="inputValue"
        :placeholder="disabled ? '' : placeholder"
        @keyup.enter="addNewTag(($event.target as HTMLInputElement).value)"
        @keydown.backspace="removeTag()"
        @focus="onFocus"
        @blur="onFocus">
    </div>

    <span
      v-show="errorMessage"
      :class="[proxyStyles?.inputTagsError]">
      {{ errorMessage }}
    </span>
  </label>
</template>

<script lang="ts" setup>
import UiIcon from '@/components/icon/UiIcon.vue';
import { ref, inject, computed } from 'vue';
import { Styles, keyStyles } from '@/components';
import { UiInputTagsStyles } from './input-tags.types';
import { useInput } from '../useInput';

type IUiInputTagsProps = {
  model?: string[];
  label?: string;
  name?: string;
  placeholder?: string;
  errorMessage?: string;
  disabled?: boolean;
  inputTagsStyles?: UiInputTagsStyles;
};

type IUiInputTagsEmits = {
  (event: 'update:model', value: string[]): void;
};

const props = withDefaults(defineProps<IUiInputTagsProps>(), {
  model: () => [],
  name: '',
  placeholder: '',
  disabled: false,
  errorMessage: '',
  label: '',
  inputTagsStyles: undefined,
});

const emits = defineEmits<IUiInputTagsEmits>();

const inputValue = ref('');

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.inputTagsStyles
  ? props.inputTagsStyles
  : styles?.components.form.uiInputTags));

const { onFocus } = useInput(props, emits);

const inputAttrs = {
  name: props.name,
  disabled: props.disabled,
  role: 'input',
};

const addNewTag = (newTag: string) => {
  inputValue.value = '';
  emits(
    'update:model',
    props.model.includes(newTag) ? props.model : [...props.model, newTag],
  );
};

const removeTag = (tagToRemove?: string) => {
  const updatedModel = props.model.filter((tag: string) => tag !== tagToRemove);

  if (tagToRemove || !inputValue.value) {
    // eslint-disable-next-line no-nested-ternary
    emits(
      'update:model',
      // eslint-disable-next-line no-nested-ternary
      tagToRemove
        ? updatedModel
        : !inputValue.value
          ? props.model.slice(0, props.model.length - 1)
          : props.model,
    );
  }
};
</script>

<style lang="scss"></style>
