<template>
  <div :class="[proxyStyles?.radioGroup]">
    <span
      v-if="label"
      :class="[proxyStyles?.radioGroupLabel]">
      {{ label }}
    </span>

    <div
      :class="[
        proxyStyles?.radioGroupContainer,
        {[`${proxyStyles?.radioGroupContainerError}`]: errorMessage }]">
      <span
        v-if="title"
        :class="[proxyStyles?.radioButtonTitle]">
        {{ title }}
      </span>
      <div :class="[proxyStyles?.radioButtonButtonsContainer]">
        <label
          v-for="(item, index) in options"
          :key="item + `__${index}`"
          :class="[
            proxyStyles?.radioButton,
            {[`${proxyStyles?.radioButtonDisabled}`]: disabled }
          ]">
          <input
            :id="item + `__${index}`"
            type="radio"
            :checked="item === model"
            :disabled="disabled"
            :value="item"
            v-bind="$attrs"
            :class="[proxyStyles?.radioButtonInput]"
            @change="$emit('update:model', item)">
          <span
            :class="[
              proxyStyles?.radioButtonCheckmark,
              {[`${proxyStyles?.radioButtonCheckmarkChecked}`]: item === model },
              {[`${proxyStyles?.radioButtonCheckmarkDisabled}`]: disabled }
            ]" />
          <span :class="[proxyStyles?.radioButtonLabel]">{{ item }}</span>
        </label>
      </div>
    </div>

    <span
      v-if="errorMessage"
      :class="[proxyStyles?.radioGroupErrorMessage]">
      {{ errorMessage }}
    </span>
  </div>
</template>

<script lang="ts" setup>
import { Styles, keyStyles } from '@/components';
import { computed, inject } from 'vue';
import { IUiRadioGroupProps, IUiRadioGroupEmits } from './radio-group.types';

const props = withDefaults(defineProps<IUiRadioGroupProps>(), {
  name: '',
  label: '',
  title: '',
  errorMessage: '',
  disabled: false,
  options: () => [],
  model: '',
  radioGroupStyles: undefined,
});

defineEmits<IUiRadioGroupEmits>();

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.radioGroupStyles ? props.radioGroupStyles : styles?.components.form.uiRadioGroup));

</script>

<style lang="scss" scoped>
</style>
