.dropzone__file-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;
}

.dropzone__file {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.dropzone__file-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 6px;
  padding: 8px 16px;
  min-height: 50px;
}

.dropzone__file-info__container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.dropzone-file-attributes {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.dropzone__text {

}

.dropzone__file-tag-list {
  display: flex;
  column-gap: 8px;
}

.dropzone__file-tag {
  background-color: #DFF0FF;
  border-radius: 6px;
  padding: 4px 8px;
  color: #5F8BFF;
}

.dropzone__text_primary {
  font-family: 'TT Norms Medium', 'TT Norms', sans-serif;
  font-size: 14px;
  color: #31315B;
}

.dropzone__text_secondary {
  font-size: 12px;
  color: #90909E;
}

.dropzone__file-type {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  overflow: hidden;
}

.dropzone__file-popup {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  position: absolute;
  right: 10%;
  top: 10%;
  background-color: #fff;
  border-radius: 10px;
  padding: 4px 8px;
  box-shadow: 0px 2px 21px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropzone__file-option {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  column-gap: 8px;
  padding: 8px;
  border-radius: 6px;
}

.dropzone__file-option:hover {
  background-color: #F7F7FA;
}

.dropzone__file-hr {
  color: #E5E7E8;
  background-color: #E5E7E8;
  border: none;
  height: 2px;
}

.dropzone-file__popup-select {
  position: absolute;
  right: -25%;
  top: 85%;
  z-index: 1000;
}
