@import '../../../core/vars.scss';


.ui-dropzone-item {
    @extend .br-10, .py-6, .px-8, .mb-2;
    display: flex;
    align-items: center;
    background-color: $GRAY_0;
}

.ui-dropzone-item_image {
    @extend .flex-shrink-0;
    margin-right: 32px;
}

.ui-dropzone-item_icon {
    @extend .flex-shrink-0;
    margin-right: 32px;
}

.ui-dropzone-item_preparedFile {
    margin-right: auto;
    
    &-title {
        @extend .body-m; 
        color: $GRAY_30;
    }
    
    &-wrapper {
        @extend .body-m, .mb-1;

        &-btn {
            text-align: left;
        }
    }
}

.ui-dropzone-item_button {
    margin-left: 32px;
}