@import "../../../core/main";


.ui-dropzone {
  @extend .relative, .mb-8;
  background: $RED_0;
  border: 1.5px dashed $RED_20;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: 0.3s ease all;
  &:hover {
    border-color: $RED_60;
  }
}


.ui-label {
  @extend .body-m-bold, .mb-4;
}

.ui-label_required {
  @extend .brand_red;
}

.ui-dropzone_dragover {
  border-color: $RED_60;
}

.ui-dropzone_dragleave {
  border-color: $RED_20;
}

.ui-dropzone__file-input {
  display: none;
}

.ui-dropzone__label {
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
  font-size: $DESKTOP_FONT_SIZE_M;
  line-height: $DESKTOP_LINE_HEIGHT_M;
  color: $BRAND_RED;
  padding: 38px;
}

.ui-dropzone__error {
  @extend .body-s;

  position: absolute;
  bottom: -32px;
  left: 0;
  color: $RED_50;
  min-height: 24px;
}