.dropzone {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1.5px dashed #90909E;
  border-radius: 10px;
  padding: 64px;
  transition: 0.3s ease all;
}

.dropzone:hover {
  border-color: #44444a;
}

.dropzone__file-upload {
  display: none;
}

.dropzone__input-placeholder {
  display: flex;
  white-space: pre;
  color: #31315B;
}

.dropzone__input-label {
  cursor: pointer;
}

.dropzone__footer {
  display: flex;
  justify-content: space-between;
  color: #90909E;
  margin-top: 8px;
  white-space: pre;
}

.dropzone__extensions {
  position: relative;
  display: flex;
  align-items: center;
}

.dropzone__popup {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  right: -86px;
  top: -64px;
  width: 64px;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 2px 21px 1px #0000001a
}

.dropzone_dragover {
  border-color: #44444a;
}

.ui-dropzone_dragleave {
  border-color: #90909E;
}

.dropzone__extensions-list{
  cursor: pointer;
  color: #336BFF;
  text-decoration: underline;
}
