@import 'vars';

:root {
  --popper-theme-background-color: #fff;
  --popper-theme-background-color-hover: #fff;
  --popper-theme-text-color: inherit;
  --popper-theme-border-width: 1px;
  --popper-theme-border-style: solid;
  --popper-theme-border-color: #eeeeee;
  --popper-theme-border-radius: 10px;
  --popper-theme-padding: 0;
  --popper-theme-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'TT Norms Medium', 'TT Norms', sans-serif;
  font-size: $DESKTOP_FONT_SIZE_M;
  line-height: $DESKTOP_LINE_HEIGHT_M;
  font-weight: 400;
}

strong {
  @extend .body-m-bold;
}

.ic-idea__dot-separator {
  border-radius: 50%;
  height: 3px !important;
  width: 3px !important;
  margin: 0 8px;
}

.divider {
  height: 1px;
  width: 100%;
}

.pointer:hover {
  cursor: pointer;
}
