$BRAND_RED: #b9181d;
$WHITE: #ffffff;
$BLACK: #000000;
$BRAND_GREEN: #87c289;
$BRAND_GRAY: #94A3B8;
$BRAND_BLUE: #76a9ff;
$LIGHT_BLUE: #f5f8ff;
$BRAND_YELLOW: #ffd98f;
$BRAND_ORANGE: #fb8200;
$BRAND_PURPLE: #af97d6;

$GRAY_0: #f7f7fa;
$GRAY_5: #ededf0;
$GRAY_10: #e1e1e3;
$GRAY_20: #d2d2d6;
$GRAY_30: #b4b4bb;
$GRAY_40: #9696a0;
$GRAY_50: #787885;
$GRAY_60: #5a5b6a;
$GRAY_70: #4a4b57;
$GRAY_80: #3a3a44;
$GRAY_90: #292a31;
$GRAY_100: #19191d;

$RED_0: #fef2f1;
$RED_5: #fee8e7;
$RED_10: #fddcda;
$RED_20: #fccbc8;
$RED_30: #faa9a3;
$RED_40: #f8877f;
$RED_50: #f6655a;
$RED_60: #f44336;
$RED_70: #c8372d;
$RED_80: #9c2b23;

:root {
  --swiper-preloader-color: #b9181d;
  --swiper-pagination-color: #b9181d;
}

$colors_map: (
  'brand_red': $BRAND_RED,
  'white': $WHITE,
  'brand_green': $BRAND_GREEN,
  'brand_blue': $BRAND_BLUE,
  'brand_yellow': $BRAND_YELLOW,
  'brand_orange': $BRAND_ORANGE,
  'brand_purple': $BRAND_PURPLE,
  'light_blue': $LIGHT_BLUE,
  'gray_0': $GRAY_0,
  'gray_5': $GRAY_5,
  'gray_10': $GRAY_10,
  'gray_20': $GRAY_20,
  'gray_30': $GRAY_30,
  'gray_40': $GRAY_40,
  'gray_50': $GRAY_50,
  'gray_60': $GRAY_60,
  'gray_70': $GRAY_70,
  'gray_80': $GRAY_80,
  'gray_90': $GRAY_90,
  'gray_100': $GRAY_100,
  'red_0': $RED_0,
  'red_5': $RED_5,
  'red_10': $RED_10,
  'red_20': $RED_20,
  'red_30': $RED_30,
  'red_40': $RED_40,
  'red_50': $RED_50,
  'red_60': $RED_60,
  'red_70': $RED_70,
  'red_80': $RED_80,
);

@each $color_name, $color in $colors_map {
  .#{$color_name} {
    color: $color !important;
  }

  .bg-#{$color_name} {
    background: $color !important;
  }
}
