@font-face {
  font-family: TT Norms;
  font-display: swap;
  src: url(/src/core/fonts/TTNorms-Regular.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: TT Norms Medium;
  font-display: swap;
  src: url(/src/core/fonts/TTNorms-Medium.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: TT Norms Bold;
  font-display: swap;
  src: url(/src/core/fonts/TTNorms-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: TT Norms Extra Bold;
  font-display: swap;
  src: url(/src/core/fonts/TTNorms-ExtraBold.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: TT Norms Pro;
  font-display: swap;
  src: url(/src/core/fonts/TTNormsPro-Regular.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}
