$DESKTOP_COLUMN_AMOUNT: 12;
$DESKTOP_COLUMN_SIZE: 80px;
$DESKTOP_COLUMN_GAP: 24px;

$DESKTOP_WIDTH: $DESKTOP_COLUMN_AMOUNT * $DESKTOP_COLUMN_SIZE +
  ($DESKTOP_COLUMN_AMOUNT - 1) * $DESKTOP_COLUMN_GAP;

$TABLET_COLUMN_AMOUNT: 12;
$TABLET_COLUMN_SIZE: 80px;
$TABLET_COLUMN_GAP: 24px;

$TABLET_WIDTH: $TABLET_COLUMN_AMOUNT * $TABLET_COLUMN_SIZE + ($TABLET_COLUMN_AMOUNT - 1) *
  $TABLET_COLUMN_GAP;

$MOBILE_COLUMN_AMOUNT: 12;
$MOBILE_COLUMN_SIZE: 80px;
$MOBILE_COLUMN_GAP: 24px;

$MOBILE_WIDTH: $MOBILE_COLUMN_AMOUNT * $MOBILE_COLUMN_SIZE + ($MOBILE_COLUMN_AMOUNT - 1) *
  $MOBILE_COLUMN_GAP;

.grid-container {
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);

  @for $i from 1 through 13 {
    & > .column-start-#{$i} {
      grid-column-start: $i;
    }
    & > .column-end-#{$i} {
      grid-column-end: $i;
    }
  }

  &.gap {
    gap: $DESKTOP_COLUMN_GAP;
  }
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  .flex-grow-1 {
    flex-grow: 1;
  }

  .flex-grow-2 {
    flex-grow: 2;
  }

  .flex-shrink-0 {
    flex-shrink: 0;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.items-start {
    align-items: flex-start;
  }

  &.items-end {
    align-items: flex-end;
  }

  &.items-center {
    align-items: center;
  }
}
