@import 'vars';

.absolute {
  position: absolute;
}

.absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.overflow-hidden {
  overflow: hidden;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.w-full-important {
  width: 100% !important;
}

.app-width {
  width: $DESKTOP_WIDTH !important;
}

ul.list-none {
  list-style: none;
}

.br-10 {
  border-radius: 10px;
}

.br-32 {
  border-radius: 32px;
}
.br-50 {
  border-radius: 50%;
}

.o-64 {
  opacity: 0.64;
}

.grayscale {
  filter: grayscale(1);
}


@media print {
  @page { size: landscape; }
  .print-sheet {
    //width: 210mm;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    //page-break-after: always;
    page-break-after: auto;
  }
}
