$SPACING_STEP: 4px;
$types: (
  'p': 'padding',
  'm': 'margin',
);
$sides: (
  '': '',
  'x': '',
  'y': '',
  'l': 'left',
  'r': 'right',
  't': 'top',
  'b': 'bottom',
);

@each $typeName, $type in $types {
  @for $i from 0 through 40 {
    $indexSpace: $i * $SPACING_STEP;

    @each $sideName, $side in $sides {
      .#{$typeName}#{$sideName}-#{$i} {
        @if $sideName == '' {
          #{$type}: $indexSpace !important;
        } @else if $sideName == 'x' {
          #{$type}-left: $indexSpace !important;
          #{$type}-right: $indexSpace !important;
        } @else if $sideName == 'y' {
          #{$type}-top: $indexSpace !important;
          #{$type}-bottom: $indexSpace !important;
        } @else {
          #{$type}-#{$side}: $indexSpace !important;
        }
      }
    }
  }
}

@each $sideName, $side in $sides {
  .m#{$sideName}-auto {
    @if $sideName == '' {
      margin: auto !important;
    } @else if $sideName == 'x' {
      margin-left: auto !important;
      margin-right: auto !important;
    } @else if $sideName == 'y' {
      margin-top: auto !important;
      margin-bottom: auto !important;
    } @else {
      margin-#{$side}: auto !important;
    }
  }
}
