$DESKTOP_FONT_SIZE_S: 12px;
$DESKTOP_FONT_SIZE_M: 14px !default;
$DESKTOP_FONT_SIZE_L: 16px;
$DESKTOP_FONT_SIZE_M_BOLD: 14px;
$DESKTOP_FONT_SIZE_L_BOLD: 16px;
$DESKTOP_FONT_SIZE_H_5: 20px;
$DESKTOP_FONT_SIZE_H_4: 24px;
$DESKTOP_FONT_SIZE_H_3: 32px;
$DESKTOP_FONT_SIZE_H_2: 40px;
$DESKTOP_FONT_SIZE_H_1: 48px;

$DESKTOP_LINE_HEIGHT_S: 16px;
$DESKTOP_LINE_HEIGHT_M: 20px;
$DESKTOP_LINE_HEIGHT_L: 24px;
$DESKTOP_LINE_HEIGHT_M_BOLD: 20px;
$DESKTOP_LINE_HEIGHT_L_BOLD: 24px;
$DESKTOP_LINE_HEIGHT_H_5: 28px;
$DESKTOP_LINE_HEIGHT_H_4: 32px;
$DESKTOP_LINE_HEIGHT_H_3: 40px;
$DESKTOP_LINE_HEIGHT_H_2: 48px;
$DESKTOP_LINE_HEIGHT_H_1: 56px;

.body-h1 {
  font-family: 'TT Norms Bold', 'TT Norms', sans-serif;
  font-size: $DESKTOP_FONT_SIZE_H_1;
  line-height: $DESKTOP_LINE_HEIGHT_H_1;
  font-weight: 700;
}

.body-h3 {
  font-family: 'TT Norms Bold', 'TT Norms', sans-serif;
  font-size: $DESKTOP_FONT_SIZE_H_3;
  line-height: $DESKTOP_LINE_HEIGHT_H_3;
  font-weight: 700;
}

.body-l {
  font-family: 'TT Norms Medium', 'TT Norms', sans-serif !important;
  font-size: $DESKTOP_FONT_SIZE_L !important;
  line-height: $DESKTOP_LINE_HEIGHT_L !important;
  font-weight: 400 !important;
}

.body-l-bold {
  font-family: 'TT Norms Bold', 'TT Norms', sans-serif;
  font-size: $DESKTOP_FONT_SIZE_L_BOLD;
  line-height: $DESKTOP_LINE_HEIGHT_L_BOLD;
  font-weight: 700;
}

.body-m {
  font-family: 'TT Norms Medium', 'TT Norms', sans-serif;
  font-size: $DESKTOP_FONT_SIZE_M;
  line-height: $DESKTOP_LINE_HEIGHT_M;
  font-weight: 400;
}

.body-m-bold {
  font-family: 'TT Norms Bold', 'TT Norms', sans-serif;
  font-size: $DESKTOP_FONT_SIZE_M_BOLD;
  line-height: $DESKTOP_LINE_HEIGHT_M_BOLD;
  font-weight: 700;
}

.body-s {
  font-family: 'TT Norms Medium', 'TT Norms', sans-serif;
  font-size: $DESKTOP_FONT_SIZE_S;
  line-height: $DESKTOP_LINE_HEIGHT_S;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'TT Norms Bold', 'TT Norms', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: $DESKTOP_FONT_SIZE_H_1;
  line-height: $DESKTOP_LINE_HEIGHT_H_1;
}

h2 {
  font-size: $DESKTOP_FONT_SIZE_H_2;
  line-height: $DESKTOP_LINE_HEIGHT_H_2;
}

h3 {
  font-size: $DESKTOP_FONT_SIZE_H_3;
  line-height: $DESKTOP_LINE_HEIGHT_H_3;
}

h4 {
  font-size: $DESKTOP_FONT_SIZE_H_4;
  line-height: $DESKTOP_LINE_HEIGHT_H_4;
}

h5 {
  font-size: $DESKTOP_FONT_SIZE_H_5;
  line-height: $DESKTOP_LINE_HEIGHT_H_5;
}

p {
  font-size: $DESKTOP_FONT_SIZE_M;
  line-height: $DESKTOP_LINE_HEIGHT_M;
}

ul,
ol {
  list-style-type: none;
}
