<template>
  <div :class="[proxyStyles?.wrapper]">
    <label :class="[proxyStyles?.search]">
      <div
        v-if="!isActive"
        :class="[proxyStyles?.label]">
        <ui-icon
          :class="[proxyStyles?.labelIcon]"
          name="search"
          :color="GRAY_40" />
        {{ placeholder }}
      </div>
      <input
        :value="model"
        :class="[proxyStyles?.input]"
        :placeholder="placeholder"
        @input="$emit('update:model', ($event.target as HTMLInputElement).value)"
        @focus="onFocus"
        @blur="onFocus"
        @keyup.enter="onSearch">
      <div
        :class="[proxyStyles?.actions, {[`${proxyStyles?.hidden}`] : !isActive || model === '' }]">
        <button
          :class="[proxyStyles?.action]"
          type="button"
          @click="onClear">
          <ui-icon
            :class="[proxyStyles?.actionIcon]"
            :name="clearIcon.name"
            :color="clearIcon.color" />
        </button>
        <div :class="[proxyStyles?.actionsDivider]" />
        <button
          :class="[proxyStyles?.action]"
          type="button"
          @click="onSearch">
          <ui-icon
            :class="[proxyStyles?.actionIcon]"
            :name="searchIcon.name"
            :color="searchIcon.color" />
        </button>
      </div>
    </label>
    <div :class="{[`${proxyStyles?.select}`]: $slots.select }">
      <slot name="select" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, inject } from 'vue';
import UiIcon from '../icon/UiIcon.vue';
import { GRAY_40 } from '../../core/color';
import { useInput } from '../form/useInput';
// import { vHidden } from '../../utils';
import { UiSearchStyles, SearchIcon } from './search.types';
import { Styles, keyStyles } from '..';

const props = withDefaults(defineProps<{
  model?: string,
  placeholder?: string,
  searchStyles?: UiSearchStyles,
  searchIcon?: SearchIcon
  clearIcon?: SearchIcon
}>(), {
  model: '',
  placeholder: 'Поиск ',
  searchStyles: undefined,
  clearIcon: (): SearchIcon => ({
    name: 'close',
    color: 'black',
  }),
  searchIcon: (): SearchIcon => ({
    name: 'search',
    color: 'black',
  }),
});

// eslint-disable-next-line no-unused-vars
const emits = defineEmits<{(event: 'update:model', value: any): void; (event: 'search', value?: number): void; }>();

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.searchStyles ? props.searchStyles : styles?.components.uiSearch));

const { isActive, onFocus } = useInput(props);

const onClear = () => {
  emits('update:model', '');
  emits('search');
};
const onSearch = () => {
  emits('search');
};
</script>

<style lang="scss" scoped>
</style>
