<template>
  <div :class="[proxyStyles?.label]">
    <span
      v-if="label">
      {{ label }}
    </span>
    <div :class="[proxyStyles?.inputRange]">
      <div :class="[proxyStyles?.wrapper]">
        <component
          :is="dict[field?.from?.as ?? 'input']"
          :label="field.from.label"
          :placeholder="field.from.placeholder"
          :input-styles="proxyInputStyles"
          :maskito-options="maskitoOptions"
          :model="model?.from ?? null"
          @click.stop
          @update:model="change('from', $event)" />
      </div>
      <div :class="[proxyStyles?.wrapper]">
        <component
          :is="dict[field?.to?.as ?? 'input']"
          :label="field.to.label"
          :placeholder="field.to.placeholder"
          :maskito-options="maskitoOptions"
          :input-styles="proxyInputStyles"
          :model="model?.to ?? ''"
          @update:model="change('to', $event)" />
      </div>
    </div>

    <span
      v-show="errorMessage"
      :class="[proxyStyles?.error]">
      {{ errorMessage }}
    </span>
  </div>
</template>

<script lang="ts" setup>
import { keyStyles, Styles } from '@/components';
import { computed, defineAsyncComponent, inject } from 'vue';
import { MASKITO_DEFAULT_OPTIONS } from '@maskito/core';
import type { Component } from 'vue';
import { InputField, InputModel, UiInputRangeStyles } from './inputRange.types';
import UiInputStyles from '../input/input.types';

const props = withDefaults(defineProps<{
  model: InputModel,
  type?: string,
  field: InputField,
  label: string,
  disabled?: boolean,
  copy?: string,
  errorMessage?: string,
  maskitoOptions: any; // todo: https://github.com/vuejs/core/issues/8569
  inputRangeStyles?: UiInputRangeStyles,
  inputStyles?: UiInputStyles,
}>(), {
  model: () => ({
    from: null,
    to: null,
  }),
  type: 'text',
  label: '',
  errorMessage: '',
  maskitoOptions: MASKITO_DEFAULT_OPTIONS,
  inputRangeStyles: undefined,
  inputStyles: undefined,
  copy: 'unmasked',
  disabled: false,
});

type IUiInputRangeDictionary = {
  [name: string]: Component
}

// eslint-disable-next-line no-spaced-func, func-call-spacing
const emits = defineEmits<{
  (event: 'update:model', value: any): void;
}>();

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.inputRangeStyles ? props.inputRangeStyles : styles?.components.form.uiInputRange));

const proxyInputStyles = computed(() => (props.inputStyles ? props.inputStyles : styles?.components.form.uiInput));

const change = (type: string, value: number) => {
  const result = {
    from: props.model.from,
    to: props.model.to,
  };

  // eslint-disable-next-line no-unused-expressions
  type === 'from'
    ? result.from = value
    : result.to = value;

  emits('update:model', result);
};

const dict: IUiInputRangeDictionary = {
  input: defineAsyncComponent(() => import('../input/UiInput.vue')),
  inputBig: defineAsyncComponent(() => import('../inputBig/UiInputBig.vue')),
  datePicker: defineAsyncComponent(() => import('../datePicker/UiDatePicker.vue')),
};

</script>

<style scoped lang="scss">
</style>
