<template>
  <div
    :id="`${id}__select`"
    :class="[proxyStyles?.wrapper]"
    tabindex="-1">
    <slot name="label">
      <div
        v-if="label || tooltip"
        :class="[proxyStyles?.labelContainer]">
        <span
          v-if="label"
          :class="[proxyStyles?.label]">
          {{ label }}
        </span>
        <ui-tooltip
          v-if="tooltip"
          v-bind="tooltip.options">
          <ui-icon
            :height="tooltip.icon.height ?? 16"
            :width="tooltip.icon.width ?? 16"
            :color="tooltip.icon.color ?? ''"
            :class="[proxyStyles?.tooltipIcon]"
            :name="tooltip.icon.name" />
          <template #content>
            <p :class="[proxyStyles?.tooltipText]">
              {{ tooltip.text }}
            </p>
          </template>
        </ui-tooltip>
      </div>
    </slot>

    <div
      :id="`${id}__select-wrapper`"
      :class="[proxyStyles?.select ,{[`${proxyStyles?.selectError}`]: errorMessage}]"
      :tabindex="disabled ? '-1' : ''"
      @click.stop="toggleDropdown"
      @keydown.enter="() => !filterable && !expandable ? onEnter() : null"
      @keydown.escape="onEscape"
      @keydown.up="changeFocusedHandler('ArrowUp')"
      @keydown.down="changeFocusedHandler('ArrowDown')"
      @keydown.backspace="(event: KeyboardEvent) => onDelete()">
      <div :class="[proxyStyles?.selectContent]">
        <div
          v-if="disabled"
          :class="[proxyStyles?.selectDisabled]" />
        <div
          v-if="!filterable && !expandable"
          :class="[proxyStyles?.selectValue]">
          {{ multiple && model.length ? "" : model[0]?.title ?? placeholderValue }}
        </div>
        <input
          v-if="filterable || expandable "
          :id="`${id}__select-input`"
          v-model="inputValue"
          :placeholder="placeholderValue"
          :tabindex="disabled ? '-1' : ''"
          :class="[proxyStyles?.selectInput, {[`${proxyStyles?.selectInputDisabled}`]: isLoading}]"
          role="combobox"
          :aria-expanded="isActive"
          aria-haspopup="listbox"
          autocomplete="off"
          @keydown.enter="() => filterable || expandable ? onEnter() : null"
          @input="filterDropdownItems">
        <ui-icon
          :name="isActive ? 'chevron-up' : 'chevron-down'"
          :color="proxyStyles?.color ?? GRAY_100" />
      </div>
      <ul
        v-if="multiple && model.length"
        :class="[proxyStyles?.tagsContainer]">
        <li
          v-for="tag in model"
          :key="tag.id"
          :class="[proxyStyles?.tag]">
          <p>
            {{ tag.title }}
          </p>
          <ui-icon
            name="close"
            color="white"
            :width="20"
            :height="20"
            @click.stop="onDelete(tag.id)" />
        </li>
      </ul>
    </div>

    <div
      v-show="isActive"
      :class="[proxyStyles?.dropdownWrapper]">
      <div
        v-if="canAddNewDropdownOption"
        :id="`${id}__newOptionWrapper`"
        :class="[proxyStyles?.dropdownFooter]">
        <span
          :class="[`${name}`, proxyStyles?.dropdownItem, proxyStyles?.dropdownOption, proxyStyles?.dropdownText]"
          @click.stop="emits('update:options', {
            title: inputValue.trim(),
            collectionName: props.options.length ? props.options[0].collectionName : props.collectionName
          }), isLoading = true, isActive = false">
          {{ inputValue + ' (Добавить новый)' }}
        </span>
      </div>
      <hr
        v-if="canAddNewDropdownOption"
        :class="[proxyStyles?.selectHr]">
      <ul
        :id="`${id}__listbox`"
        role="listbox"
        tabindex="-1"
        :class="[proxyStyles?.dropdownList]">
        <div
          v-if="!dropdownItems?.length"
          :class="[proxyStyles?.dropdownItem]">
          <span
            :class="[proxyStyles?.dropdownText]">
            Опций не найдено
          </span>
        </div>

        <li
          v-for="option, index in filteredDropdownItems"
          :id="'' + option.id"
          :key="option.id"
          role="option"
          :class="[proxyStyles?.dropdownItem,
                   proxyStyles?.dropdownOption,
                   `${name} ${index === activeDropdownItem ? proxyStyles?.dropdownOptionFocused : ''}`
          ]"
          @click="onSelect(option)">
          <slot
            name="dropdownOption"
            :selected-option-id-list="selectedOptionsIdList"
            :option="option">
            <span :class="[proxyStyles?.dropdownText]">
              {{ option.title }}
            </span>
            <ui-icon
              v-if="selectedOptionsIdList?.includes(option.id)"
              :name="dropdownIcon.name"
              :width="dropdownIcon.width"
              :height="dropdownIcon.height"
              :color="dropdownIcon.color" />
          </slot>
        </li>
      </ul>
    </div>

    <slot
      name="errorMessage"
      :error-message="errorMessage">
      <span
        v-if="errorMessage"
        :class="[proxyStyles?.errorMessage]">
        {{ errorMessage }}
      </span>
    </slot>
  </div>
</template>

<script lang="ts" setup>
import { keyStyles, Styles } from '@/components';
import { computed, inject } from 'vue';
import { GRAY_100 } from '@/core/color';
import UiIcon from '../../icon/UiIcon.vue';
import UiTooltip from '../../tooltip/UiTooltip.vue';
import {
  SelectTagsProps,
  SelectTagsEmits,
  SelectTagsIcon,
} from './select.types';
import { useSelect } from './useSelect';
import { SelectOption } from '../select/select.types';

const props = withDefaults(defineProps<SelectTagsProps>(), {
  model: (): SelectOption[] => [],
  options: (): SelectOption[] => [],
  disabled: false,
  filterable: false,
  expandable: false,
  multiple: false,
  label: '',
  placeholder: 'Выберите из списка',
  errorMessage: '',
  tooltip: undefined,
  selectTagsStyles: undefined,
  dropdownIcon: (): SelectTagsIcon => ({
    name: 'icon_check',
    width: 24,
    height: 24,
    color: '#19191D',
  }),
});

const emits = defineEmits<SelectTagsEmits>();

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.selectTagsStyles ? props.selectTagsStyles : styles?.components.form.uiSelectTags));

const {
  inputValue,
  isActive,
  dropdownItems,
  selectedOptionsIdList,
  activeDropdownItem,
  canAddNewDropdownOption,
  isLoading,
  filteredDropdownItems,
  placeholderValue,
  onSelect,
  onEscape,
  onEnter,
  onDelete,
  filterDropdownItems,
} = useSelect(props, emits, proxyStyles);

const toggleDropdown = () => {
  if (props.disabled) return;

  isActive.value = !isActive.value;

  if (isActive.value) {
    document.getElementById(`${props.name}__select-wrapper`)?.focus();
    emits('focus');
  }
};

const changeFocusedHandler = (key: string) => {
  if (!dropdownItems.value?.length) return;

  if (key === 'ArrowUp') {
    activeDropdownItem.value = activeDropdownItem.value <= 0 ? dropdownItems.value.length - 1 : (activeDropdownItem.value -= 1);
  } else {
    activeDropdownItem.value = activeDropdownItem.value === dropdownItems.value.length - 1 ? 0 : (activeDropdownItem.value += 1);
  }

  const focusedItem = document.getElementById(`${dropdownItems.value[activeDropdownItem.value].id}`);

  if (!focusedItem) return;

  focusedItem.scrollIntoView({ behavior: 'auto', block: 'nearest', inline: 'start' });
};

</script>

<style lang="scss" scoped>
@import "../../../core/main.scss";

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
</style>
