<template>
  <div :class="[proxyStyles?.buttonContainer]">
    <div
      :class="[proxyStyles?.button]"
      @click="clickOnDropdownItem(defaultItem)">
      {{ defaultItem.title }}
    </div>
    <div
      :class="[proxyStyles?.sideButton, {[`${proxyStyles?.sideButtonActive}`] : isOpenDropdown }]"
      @click.stop="changeIsOpen">
      <ui-icon
        :color="proxyStyles?.color"
        :name="isOpenDropdown ? 'chevron-up' : 'chevron-down'"
        :class="[proxyStyles?.sideButtonIcon]" />
    </div>
    <ul
      v-if="isOpenDropdown"
      :class="[proxyStyles?.dropdownList]">
      <li
        v-for="item, index in dropdownButtonItems"
        :key="item._id + index"
        :class="[proxyStyles?.dropdownItem]"
        tabindex="0"
        @click.stop="clickOnDropdownItem(item)">
        <p v-if="item.title">
          {{ item.title }}
        </p>
        <ui-icon
          v-if="item.icon"
          :color="proxyStyles?.itemColor"
          :name="item.icon" />
      </li>
    </ul>
  </div>
</template>

<script lang="ts" setup>
import {
  ref, onMounted, onBeforeMount, inject, computed,
} from 'vue';
import UiIcon from '@/components/icon/UiIcon.vue';
import { keyStyles, Styles } from '@/components';
import { UiDropdownButtonProps, UiDropdownEmits, DropdownButtonItem } from './dropdownButton.types';

const props = withDefaults(defineProps<UiDropdownButtonProps>(), {
  disabled: false,
  dropdownButtonStyles: undefined,
});

const emits = defineEmits<UiDropdownEmits>();

const styles = inject<Styles | undefined>(keyStyles);

const isOpenDropdown = ref(false);

const proxyStyles = computed(() => (props.dropdownButtonStyles ? props.dropdownButtonStyles : styles?.components.dropdownButton));

const changeIsOpen = () => {
  isOpenDropdown.value = !isOpenDropdown.value;
};

const clickOnDropdownItem = (item: DropdownButtonItem) => {
  emits('triggerEvent', item.callback);
  isOpenDropdown.value = false;
};

const closeDropdownMenu = () => {
  isOpenDropdown.value = false;
};

onMounted(() => {
  document.addEventListener('click', closeDropdownMenu);
});

onBeforeMount(() => {
  document.removeEventListener('click', closeDropdownMenu);
});

</script>

<style lang="scss" scoped>

</style>
