@import "../../../core/vars.scss";

$BRAND_DARK_BLUE: #31315B;
$BRAND_LIGHT_BLUE: #5F8BFF;

.ui-button-dropdown {
  position: relative;

  .ui-input-big {
    padding-bottom: 0;
  }
}

.ui-button-dropdown__title-wrapper {
  color: $BRAND_DARK_BLUE;
  background-color: $WHITE;
  box-shadow: 0px 2px 21px 1px #0000001A;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.ui-button-dropdown__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.ui-button-dropdown__side-button {}

.ui-button-dropdown__side-button_active {}

.ui-button-dropdown__dropdown {
  position: absolute;
  z-index: 5;
  padding-top: 4px;
}

.ui-button-dropdown__dropdown-list {
  color: $BLACK;
  background-color: $WHITE;
  box-shadow: 0px 2px 21px 1px #0000001A;
  border-radius: 6px;
  padding: 12px 0;
}

.ui-button-dropdown__dropdown-item {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ui-button-dropdown__dropdown-item-title {
  padding-left: 16px;
}

.ui-button-dropdown__dropdown-checkbox {
  border: 1.5px solid $BRAND_LIGHT_BLUE;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $WHITE;
}

.ui-button-dropdown__dropdown-checkbox_active {
  background-color: $BRAND_LIGHT_BLUE;
}