@import "../../../core/vars.scss";

.ui-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;

    &.full-container {
        width: 100%;
    }
}

.ui-button_primary {
    color: $WHITE;
    border: 1px solid $BRAND_RED;
    background-color: $BRAND_RED;
    font-size: $DESKTOP_FONT_SIZE_M;
    line-height: $DESKTOP_LINE_HEIGHT_M;
    padding: 16px 32px;

    &:hover {
        background-color: $RED_70;
        border-color: $RED_70;
    }

    &:active {
        background-color: $RED_80;
        border-color: $RED_80;
    }

    &.disabled {
        background-color: $GRAY_20;
        border-color: $GRAY_20;
    }
}

.ui-button_secondary {
    color: $GRAY_100;
    background: none;
    border: 1px solid $GRAY_20;

    &:hover {
        border-color: $GRAY_30;
    }

    &:active {
        border-color: $GRAY_40;
    }

    &.disabled {
        opacity: 0.5;
    }
}

.ui-button_link-default {
    width: auto;
    color: $GRAY_100;
    padding: 0;

    &:hover {
        color: $BRAND_RED;
    }

    &:active {
        color: $RED_80;
    }

    &.disabled {
        color: $GRAY_100 !important;
        opacity: 0.5;
    }
}

.ui-button_link-secondary {
    width: auto;
    color: $WHITE;
    padding: 0;

    &:hover {
        color: $BRAND_RED;
    }

    &:active {
        color: $RED_80;
    }

    &.disabled {
        color: $WHITE !important;
        opacity: 0.5;
    }
}

.ui-button_link-active {
    width: auto;
    padding: 0;
    color: $BRAND_RED;

    &:hover {
        color: $GRAY_100;
    }

    &.disabled {
        color: $GRAY_100;
        opacity: 0.5;
    }
}

.ui-button_link-header-menu {
    border-radius: 5px;
    width: auto;
    color: $GRAY_100;
    justify-content: start;

    &:hover {
        background-color: $GRAY_0;
    }

    &:active {
        color: $GRAY_0;
    }

    &.disabled {
        color: $GRAY_100 !important;
        opacity: 0.5;
    }
}

.btn_type-default {
    border-radius: 24px;
}

.btn_type-icon-circle {
    overflow: hidden;
    padding: 0;
    border-radius: 24px;
    width: 48px;
    height: 48px;
}



.btn_type-square {
    border-radius: 10px;

    &_hard {
        border-radius: 5px;
    }
}