
.button-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 6px;
  background: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

.button-container__button-main{
  padding: 10px 16px;
}

.button-container__button-aside{
  border-left: 1px solid black;
  padding: 8px;
}

.button-container__button-aside_active{
}

.button-container__button-aside__icon{
  padding-top: 4px;
}

.button__dropdown{
  position: relative;
  flex-shrink: 0;
}

.button__dropdown-list{
  position: absolute;
  z-index: 10;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  min-width: max-content;
  max-height: 300px;
  overflow: auto;
  padding: 8px;
  border: 1px solid $GRAY_20;
  border-radius: 10px;
  background-color: white;
  outline: none;
}

.button__dropdown-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;

  &:hover, &:focus, &:focus-within {
    background-color: $GRAY_0;
  }
  &_focused{
    background-color: $GRAY_0;
  }
}
