<template>
  <div
    :class="[proxyStyles?.wrapper]">
    <label
      :class="[
        proxyStyles?.radio,
        proxyStyles?.direction,
        proxyStyles?.content,
        {[`${proxyStyles?.checked}`]: checked }]"
      :for="name">
      <input
        :id="name"
        :name="group"
        type="radio"
        :checked="checked"
        :value="value"
        v-bind="$attrs"
        :class="[proxyStyles?.input]"
        @change="$emit('update:modelValue', value)">
      <div :class="[proxyStyles?.checkmark]" />
      <span :class="[proxyStyles?.body]">
        <slot>{{ label }}</slot>
      </span>
    </label>
  </div>
</template>

<script lang="ts" setup>
import { keyStyles, Styles } from '@/components';
import { computed, inject } from 'vue';
import { UiRadioStyles } from './radio.types';

const props = withDefaults(defineProps<{
  name?: string,
  group?: string,
  label?: string,
  modeValue?: string | number,
  value: string | number,
  radioStyles?: UiRadioStyles,
}>(), {
  name: '',
  group: '',
  label: '',
  modelValue: '',
});

// eslint-disable-next-line no-unused-vars
defineEmits<{(event: 'update:modelValue', value: string | number): void; }>();

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.radioStyles ? props.radioStyles : styles?.components.form.uiRadio));

const checked = computed(() => props.modelValue === props.value);

</script>

<style lang="scss" scoped>
</style>
