<template>
  <div
    :class="[optionsAvatar?.avatarDefault, {[`${optionsAvatar?.avatarAdmin}`]: isAdminMode}]">
    <ui-image
      v-if="uploadedPhoto"
      :src="photoSrc" />
    <ui-icon
      v-else
      :name="photoSrc"
      :height="defaultAvatarSize.height"
      :width="defaultAvatarSize.width" />
  </div>
</template>

<script lang="ts" setup>
import { computed, inject } from 'vue';
import UiImage from '../image/UiImage.vue';
import UiIcon from '../icon/UiIcon.vue';
import { resolveDefaultProfilePic } from '../../utils';
import { AccountInfo, DefaultAvatarSize, UiAvatarStyles } from './avatar.types';
import { Styles, keyStyles } from '..';

const props = withDefaults(defineProps<{
  accountInfo: AccountInfo,
  defaultAvatarSize?: DefaultAvatarSize,
  isAdminMode: boolean,
  avatarStyles?: UiAvatarStyles,
}>(), {
  defaultAvatarSize: () => ({
    height: 48,
    width: 48,
  }),
  isAdminMode: false,
});

const styles: Styles | undefined = inject(keyStyles);

const optionsAvatar = computed(() => (props.avatarStyles ? props.avatarStyles : styles?.components.uiAvatar));

const uploadedPhoto = computed(() => (typeof props.accountInfo?.photo !== 'string' ? props.accountInfo?.photo?.url : props.accountInfo?.photo));
const photoSrc = computed(() => uploadedPhoto.value ?? resolveDefaultProfilePic(props.accountInfo));

</script>

<style lang="scss">

</style>
