<template>
  <div :class="[proxyStyles?.wrapper]">
    <div
      v-if="type === 'header'"
      :class="[proxyStyles.content]">
      <div
        class=""
        @click="goBack">
        <ui-icon
          class="bread-crumbs-link"
          :name="'chevron-left'"
          :height="40"
          :width="40"
          :color="'white'" />
      </div>
      <div :class="[proxyStyles?.title]">
        {{ title }}
      </div>
    </div>
    <div
      v-if="type === 'fullPath'"
      :class="[proxyStyles?.content]"
      class="ml-4">
      <div
        v-for="(item, index) in fullPath"
        :key="'2' + item"
        class="flex">
        <ui-link
          :to="{ name: item.name, params: item.params }">
          <div
            :class="[proxyStyles?.route, {[`${proxyStyles?.routeActive}`] : isActive(item) }]">
            {{ item.meta.title + ' ' + routeParams(item) }}
          </div>
        </ui-link>
        <p
          v-if="index < fullPath.length - 1"
          class="mr-3 ml-3"
          :class="[proxyStyles?.route]">
          /
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, inject, unref } from 'vue';
import UiLink from '../button/UiLink.vue';
import UiIcon from '../icon/UiIcon.vue';
import { Styles, keyStyles } from '..';

const props = defineProps<{
    type: string,
    title: string,
    fullPath: any[],
    path: string,
    router: any,
    route: any,
    styles?: any,
  }>();

const router = unref(props.router);
const route = unref(props.route);

const goBack = () => {
  router.push({ path: props.path });
};

const currentRoute = route.name;

const isActive = (item: any) => item.name === currentRoute;

const routeParams = (item: any) => (item?.params ? Object.values(item.params)[Object.values(item.params).length - 1] : '');

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.styles ? props.styles : styles?.components.uiBreadcrumbs));

</script>

  <style lang="scss" scoped>

</style>
