<template>
  <div :class="[proxyStyles?.itemDefault, {[`${proxyStyles?.itemActive}`] : active }]">
    <slot />
  </div>
</template>

<script lang="ts" setup>
import { keyStyles, Styles } from '@/components';
import { inject, computed } from 'vue';
import CheckListItemStyles from './checklist-item.types';

const props = withDefaults(defineProps<{active?: boolean, styles?: CheckListItemStyles}>(), {
  active: false,
});

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.styles ? props.styles : styles?.components.form.checklist.checklistItem));

</script>

<style scoped lang="scss">
</style>
