<template>
  <Popper v-bind="$attrs">
    <slot />
    <template #content="props">
      <slot name="content" v-bind="props" />
    </template>
  </Popper>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Popper from "vue3-popper";
export default defineComponent({
  components: {
    Popper,
  },
});
</script>
