<template>
  <div :class="[proxyStyles.toolbarButton]">
    <ui-button
      v-bind="attrs"
      #="{ color }"
      @click="$emit('click', $event)">
      <ui-icon
        :name="iconName"
        :color="color" />
    </ui-button>
  </div>
</template>

<script lang="ts" setup>
import { keyStyles, Styles } from '@/components';
import { computed, reactive, inject } from 'vue';
import * as COLOR from '../../../../core/color';
import UiButton from '../../../button/UiButton.vue';
import UiIcon from '../../../icon/UiIcon.vue';
import WysiwygToolbarButton from './wysiwyg-toolbarButton.types';

const props = withDefaults(defineProps<{
    iconName?: string,
    isActive?: boolean,
    disabled?: boolean,
    wysiwygToolbarButtonStyles?: WysiwygToolbarButton,
}>(), {
  disabled: false,
  isActive: false,
  iconName: 'text-bold',
});

// eslint-disable-next-line vue/define-emits-declaration
defineEmits(['click']);

const styles: any = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.wysiwygToolbarButtonStyles ? props?.wysiwygToolbarButtonStyles : styles?.components.form.wysiwyg.wysiwygToolbarButton));

const attrs = reactive({
  color: computed(() => (props.isActive ? COLOR.WHITE : COLOR.GRAY_100)),
  disabled: props.disabled,
  styles: computed(() => [proxyStyles.value.btn,
    props.isActive
      ? proxyStyles.value.activeTheme
      : proxyStyles.value.defaultTheme, proxyStyles.value.typeIconSquare]),
});

</script>

<style lang="scss">
</style>
