<template>
  <ui-app :styles="styles">
    <ui-dropdown-button
      :dropdown-button-items="dropdownButtonItems"
      :default-item="dropdownButtonItems.find((item) => item.isDefaultValue) ?? dropdownButtonItems[0]"
      @trigger-event="(payload: any)=> payload()" />
    <div class="test">
      <ui-search v-model:model="model" />
    </div>
    <div class="test">
      <ui-card class="card">
        <div class="flex px-4 py-4">
          <ui-form v-slot="{ values }">
            <div>
              <ui-field
                v-for="field, index in initialNumberSelectTags"
                :key="index"
                :options="field.options"
                :field="field"
                @focus.once="onFocusInitialNumber"
                @change-field="onChangeFieldInitialNumber"
                @update-options="onChangeFieldInitialNumberAddedNew" />
            </div>
            <div>
              <ui-dropzone />
              <ui-search
                v-model:model="searchValue"
                @search="() => onSearch(values)" />
              <!-- <ui-select
                :options="districtOPTIONS"
                :collection-name="districtOPTIONS[0].collectionName"
                :filterable="true"
                :multiple="true"
                :expandable="true"
                label="Тестовый селект"
                :model="selectModel"
                name="test1"
                @update:model="updateSelectModel"
                @update:options="updateOptions" /> -->
              <ui-field
                v-for="field, index in realEstate"
                :key="index"
                :options="field.options"
                :field="field"
                @focus.once="onFocus"
                @change-field="a"
                @update-options="updateValue" />
            </div>
            <div class="pt-4">
              <!-- <ui-field
                :field="filters.newSelect"
                @update-options="updateValue2" /> -->
              <!-- <ui-field
                :field="filters.newSelect2"
                @update-options="updateValue2" /> -->
            </div>
            <div class="pt-4">
              <ui-field :field="filters.input3" />
            </div>
            <div
              class="pt-4"
              style="width: 400px;">
              <ui-field :field="filters.tags" />
            </div>
            <div class="pt-4">
              <ui-field :field="filters.multipleStatus" />
            </div>
            <div class="pt-4">
              <ui-field :field="filters.newSelect" />
            </div>
            <div class="pt-4">
              <ui-field
                :field="filters.slider"
                @change-field="changeOwnership" />
            </div>
            <div class="income-approach-form-array">
              <h4 class="income-approach-form-array__title">
                Загрузка, в %
              </h4>
              <div class="flex  gap-16">
                <ui-field
                  v-for="(item) in workloadList"
                  :key="item.name"
                  :class="`${item?.style ?? ''}`"
                  :field="item" />
              </div>
            </div>
            <div class="pt-4">
              <ui-field :field="filters.input2" />
            </div>
            <div class="pt-4">
              <ui-field
                :field="filters.inputDateRange"
                @handle-upload-files-errors="onError" />
            </div>
            <div class="pt-4">
              <ui-field :field="filters.inputYearPicker" />
            </div>
          </ui-form>
        </div>
        <div
          class="pt-4">
          <div
            class="pt-4"
            style="width: 175px;">
            <ui-button-dropdown
              v-model:model="segmentValue"
              :select-items="segmentList"
              placeholder="Выберите сегмент" />
          </div>

          <div
            class="pt-4"
            style="width: 175px;">
            <ui-button-dropdown
              v-model:model="wallTypeValue"
              :select-items="wallTypeList"
              :is-select-multiple="true"
              placeholder="Выберите сегмент" />
          </div>

          <div
            class="pt-4"
            style="width: 72px;">
            <ui-button-dropdown
              v-slot="{ slotModel, updateSlotModel }"
              v-model:model="radius"
              :hide-arrow="true"
              placeholder="Выберите радиус">
              <div class="dropdown-radius">
                <ui-input-big
                  label="Радиус поиска"
                  placeholder="Введите радиус"
                  :model="slotModel"
                  :maskito-options="radiusMaskito"
                  @update:model="updateSlotModel" />
              </div>
            </ui-button-dropdown>
          </div>
        </div>
      </ui-card>
      <div style="width: 700px;">
        <ui-link-list />
      </div>
    </div>
  </ui-app>
</template>

<script setup lang="ts">

import { maskitoDateOptionsGenerator, maskitoNumberOptionsGenerator } from '@maskito/kit';
import { format } from 'date-fns';
import {
  computed,
  reactive,
  ref,
  Ref,
} from 'vue';
import UiApp from './components/UiApp.vue';
import UiButtonDropdown from './components/button-dropdown/UiButtonDropdown.vue';
import { IButtonDropdownItem } from './components/button-dropdown/button-dropdown.types';
import UiDropdownButton from './components/button/dropdownButton/UiDropdownButton.vue';
import UiCard from './components/card/UiCard.vue';
import UiDropzone from './components/dropzone/UiDropzone.vue';
import UiForm from './components/form/UiForm.vue';
import UiField from './components/form/field/UiField.vue';
import UiInputBig from './components/form/inputBig/UiInputBig.vue';
import { RawSelectOption, SelectOption } from './components/form/select/select.types';
import UiSearch from './components/search/UiSearch.vue';
import styles from './defaultStyles';

const model = ref('');
const searchValue = ref('');

const selectModel = ref([]);

const onError = (errors: any) => {
  console.log(1);
};

const dictionaries = ref([
  {
    dictionaryName: 'Округ',
    title: 'Западный (ЗАО)',
    _id: '3e8adb4f-53e9-481b-807d-bc62043b0902',
  },
  {
    dictionaryName: 'Округ',
    title: 'Восточный (ВАО)',
    _id: '79c82809-b425-4f1c-8b3d-ec4bdc23e557',
  },
  {
    dictionaryName: 'Округ',
    title: 'Зеленоградский (ЗелАО)',
    _id: 'f7ee6b78-a3a3-49c4-a17e-dbe02540fe15',
  },
  {
    dictionaryName: 'Округ',
    title: 'Северный (САО)',
    _id: '9b7bcaeb-3499-4caa-85e8-2505c138493e',
  },
  {
    dictionaryName: 'Округ',
    title: 'Северо-Восточный (СВАО)',
    _id: 'bd8caafe-28fd-45b8-a962-727fb6b32e4f',
  },
  {
    dictionaryName: 'Округ',
    title: 'Северо-Западный (СЗАО)',
    _id: '93c3d166-fce8-41ed-9061-62b35d719266',
  },
  {
    dictionaryName: 'Округ',
    title: 'Троицкий (ТАО)',
    _id: '9e84b579-1fd7-43f7-b81e-be0dc9753afb',
  },
  {
    dictionaryName: 'Округ',
    title: 'Центральный (ЦАО)',
    _id: '9b61d1e5-5bd8-47b0-aa8e-bc05b311bb1a',
  },
  {
    dictionaryName: 'Округ',
    title: 'Юго-Восточный (ЮВАО)',
    _id: '25d7ee59-d217-4c76-9521-0e766b6ee8e8',
  },
  {
    dictionaryName: 'Округ',
    title: 'Юго-Западный (ЮЗАО)',
    _id: '3e21cb1d-05ed-45d1-95d6-5d514f55fc1e',
  },

  {
    dictionaryName: 'Округ',
    title: 'Анджаев  С. М.',
    _id: '3e21cb1d-05ed-45d1-95d6-5d514f55fc12',
  },
]);

const districtOPTIONS = ref(dictionaries.value.map((dictionaryItem) => ({
  id: dictionaryItem._id,
  collectionName: dictionaryItem.dictionaryName,
  title: dictionaryItem.title,
})));

const updateSelectModel = (payload: any) => {
  console.log(payload);
  selectModel.value = payload;
};

const updateOptions = (payload: any) => {
  setTimeout(() => {
    districtOPTIONS.value = [...districtOPTIONS.value, {
      id: String(Math.random()),
      title: payload.title,
      collectionName: 'Округ',
    }];
  }, 3000);
};

const onSearch = (values: any) => {
  console.log(values);
};

const options1 = maskitoNumberOptionsGenerator({
  precision: 2,
  decimalSeparator: ',',
  min: 0,
  postfix: ' руб.',
});

const dateOptions = maskitoDateOptionsGenerator({ mode: 'yyyy/mm/dd', separator: '.' });

const APPLICATION_STATUSES = {
  NEW: 'Новая',
  FOR_APPROVAL_NACH_OTDELA: 'На согласовании НО',
  FOR_APPROVAL_DEPIR: 'На согласовании ДЭПиР',
  RECEIVED_RESPONSE_FROM_DEPIR: 'Получен ответ',
  WAITING_FOR_REPORT: 'Доклад',
  TO_RELEASE: 'На выдачу',
  APPROVAL_COMPLETED: 'Согласование завершено',
} as const;

const newSelectValue: Ref<SelectOption[]> = ref([
  {
    id: '0',
    collectionName: 'test',
    title: 'Vue',
  },
  {
    id: '1',
    collectionName: 'test',
    title: 'React',
  },
  {
    id: '2',
    collectionName: 'test',
    title: 'Angular',
  },
]);

const newSelectValue2: Ref<SelectOption[]> = ref([
  {
    id: '01',
    collectionName: 'test',
    title: 'Vue',
  },
  {
    id: '11',
    collectionName: 'test',
    title: 'React',
  },
  {
    id: '12',
    collectionName: 'test',
    title: 'Angular',
  },
]);

const testCallBack = () => {
  console.log(1);
};

const secondCallBack = () => {
  console.log(2);
};

const dropdownButtonItems = [
  {
    _id: '1',
    title: 'Применить',
    isDefaultValue: true,
    callback: testCallBack,
  },
  {
    _id: '2',
    title: 'Применить ко всем',
    isDefaultValue: false,
    callback: secondCallBack,
  },
];

const isLoading = ref(false);
const isLoading2 = ref(false);

const onFocus = () => {
  console.log('onFocus');
};

const a = (item: string) => {
  console.log(item);
};

const updateValue = (items: any) => {
  isLoading.value = true;
  console.log(items);
  setTimeout(() => {
    districtOPTIONS.value = [...districtOPTIONS.value, {
      id: String(Math.random()),
      title: items.title,
      collectionName: 'Округ',
    }];
    isLoading.value = false;
  }, 3000);
};

const updateValue2 = (items: any) => {
  isLoading2.value = true;
  districtOPTIONS.value.push({ id: String(Math.random()), title: items.title, collectionName: 'Округ' });
  // isLoading.value = false;
};
const squareMask = maskitoNumberOptionsGenerator({
  precision: 2,
  decimalSeparator: ',',
  min: 0,
  postfix: ' м²',
});

const initialNumberRef = ref<string | null>(null);

const NO_INITIAL_NUMBER = {
  id: 'init_1',
  collectionName: 'test',
  title: 'Нет первичной заявки',
};

const initialNumber = computed<SelectOption[]>(() => [
  initialNumberRef.value ? {
    id: 'selected_2',
    collectionName: 'test',
    title: initialNumberRef.value,
  } : NO_INITIAL_NUMBER,
]);

const initialNumberExtraOptions = ref<SelectOption[]>([]);

const initialNumberOptions = computed<SelectOption[]>(() => [NO_INITIAL_NUMBER, ...initialNumberExtraOptions.value]);

const initialNumberSelectTags = computed(() => [{
  name: 'initialNumberSelectTags',
  as: 'selectTags',
  options: initialNumberOptions.value,
  id: 'initialNumberSelectTags',
  label: 'initialNumberSelectTags',
  multiple: false,
  expandable: true,
  filterable: true,
  initialValue: initialNumber.value,
}]);

const onFocusInitialNumber = () => {
  console.log('onFocusInitialNumber');
  initialNumberExtraOptions.value.push({
    id: 'option_3',
    collectionName: 'test',
    title: '36175-1-2-090424',
  });
};

const onChangeFieldInitialNumber = (payload: RawSelectOption[]) => {
  const [firstOption] = payload;
  const title = firstOption.title === NO_INITIAL_NUMBER.title ? null : firstOption.title;

  initialNumberRef.value = title;
};

const onChangeFieldInitialNumberAddedNew = (payload: RawSelectOption) => {
  const title = payload.title === NO_INITIAL_NUMBER.title ? null : payload.title;

  initialNumberRef.value = title;
};

const realEstate = reactive([
  {
    name: 'test123545',
    as: 'selectTags',
    options: districtOPTIONS,
    id: '321',
    label: 'Второй тестовый селект',
    multiple: true,
    expandable: true,
    filterable: true,
    tooltip: {
      icon: {
        name: 'user',
      },
      text: 'Рассчитанное значение не учитывает реальный маршут до точки по дорогам',
      options: {
        hover: true,
        placement: 'right',
      },
    },
    initialValue: [],
  },
  {
    name: 'test12354',
    as: 'selectTags',
    id: '123',
    options: districtOPTIONS,
    label: 'Второй тестовый селект',
    multiple: true,
    expandable: true,
    filterable: true,
    tooltip: {
      icon: {
        name: 'user',
      },
      text: 'Рассчитанное значение не учитывает реальный маршут до точки по дорогам',
      options: {
        hover: true,
        placement: 'right',
      },
    },
    initialValue: [],
  },
  {
    name: 'square',
    as: 'inputRange',
    label: 'Площадь',
    inputRangeStyles: {
      inputRange: 'ikn-inputRange_filter',
      label: 'ui-inputRange__label',
      wrapper: 'ikn-inputRange__wrapper',
      error: 'ikn-inputRange__error',
    },
    inputStyles: {
      defaultInput: 'ikn-range',
      errorInput: 'ikn-range--error',
      defaultLabel: 'ikn-range__label',
      errorLabel: 'ikn-range__label--error',
      activeLabel: 'ikn-range__label--active',
      bodyInput: 'ikn-range-body',
      wrapper: 'ikn-range__wrapper',
      input: 'ikn-range__input',
      icon: 'ikn-range__icon',
      error: 'ikn-range__error',
    },
    maskitoOptions: squareMask,
    field: {
      from: {
        placeholder: 'от',
        name: 'from',
        as: 'datePicker',
        disabled: false,
      },
      to: {
        placeholder: 'до',
        name: 'to',
        as: 'datePicker',
        disabled: false,
      },
    },
    errorMessage: '123',
    initialValue: {
      from: null,
      to: null,
    },
  },
  {
    name: 'district',
    label: 'Район',
    as: 'select',
    placeholder: 'test1',
    tooltip: {
      icon: {
        name: 'user',
      },
      text: 'Рассчитанное значение не учитывает реальный маршут до точки по дорогам',
      options: {
        hover: true,
        placement: 'right',
      },
    },
    style: 'grid-item',
    filterable: true,
    expandable: true,
    multiple: true,
    options: districtOPTIONS,
    initialValue: '',
  },
  {
    name: 'district1',
    label: 'Район',
    as: 'inputBig',
    tooltip: {
      icon: {
        name: 'user',
      },
      text: 'Рассчитанное значение не учитывает реальный маршут до точки по дорогам',
      options: {
        hover: true,
        placement: 'right',
      },
    },
    style: 'grid-item',
    filterable: true,
    expandable: true,
    multiple: true,
    options: districtOPTIONS,
    initialValue: '',
  },
  // {
  //   name: 'subway.name',
  //   label: 'Ближайшее метро',
  //   as: 'selectExpandable',
  //   style: 'grid-item',
  //   filterable: true,
  //   options: subwayOPTIONS,
  //   initialValue: '',
  // },
]);

const filters = reactive({
  newSelect: {
    label: '123',
    name: '1234',
    as: 'select',
    options: [],
    initialValue: '',
  },
  // newSelect2: {
  //   label: '123',
  //   name: '1232.32',
  //   as: 'selectExpandable',
  //   filterable: true,

  //   options: newSelectValue2,
  //   initialValue: '',
  // },
  tags: {
    placeholder: 'inputTags',
    label: 'Input Tags',
    name: 'inputTags',
    as: 'inputTags',
    disabled: true,
    initialValue: ['123'],
  },
  multipleStatus: {
    name: 'multipleStatus',
    label: '123',
    disabled: false,
    as: 'selectMultiple',
    errorMessage: '123',
    placeholder: 'Выберите из списка',
    options: Object.values<any>(APPLICATION_STATUSES),
    initialValue: null,
  },
  status: {
    name: 'status',
    disabled: false,
    as: 'select',
    errorMessage: '123',
    placeholder: 'Выберите из списка',
    options: Object.values<any>(APPLICATION_STATUSES),
    initialValue: null,
  },
  slider: {
    name: 'slider',
    disabled: false,
    as: 'slider',
    label: 'Период владения',
    initialValue: 3,
    data: [
      { value: 1, label: '1 год' },
      { value: 2, label: '2 год' },
      { value: 3, label: '3 год' },
      { value: 4, label: '4 год' },
      { value: 5, label: '5 год' },
    ],
  },
  input: {
    name: 'input',
    as: 'dateRange',
  },
  inputDateRange: {
    name: 'feedbackAttachments',
    label: 'Прикрепленные материалы',
    placeholder: 'Прикрепить документы',
    accept: [
      'png', 'jpeg', 'xlsx', 'xlsx',
      'vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'pdf', 'doc', 'docx',
      'application/pdf', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
      'vnd.openxmlformats-officedocument.wordprocessingml.document',
      'application/msword',
    ],
    limit: 5,
    as: 'dropzone',
    multiple: true,
    style: 'feedback-from__grid-item_big',
  },
  inputYearPicker: {
    name: 'inputYearPicker',
    as: 'datePicker',
    format: (date: Date) => format(new Date(date), 'yyyy'),
    isYearPicker: true,
  },
  input2: {
    name: 'inputs2',
    as: 'inputBig',
    initialValue: '2023-06-23T00:12:34.313+00:00',
    maskitoOptions: dateOptions,
    disabled: true,
  },
  input3: {
    name: 'inputs3',
    as: 'inputRange',
    label: 'test',
    initialValue: {
      // from: '12313',
      // to: '24 000 000.00',
    },
    maskitoOptions: options1,
    errorMessage: 'фывфывфыв',
    field: {
      from: {
        name: 'from',
        placeholder: 'от',
        as: 'inputBig',
        disabled: false,
      },
      to: {
        placeholder: 'до',
        name: 'to',
        as: 'inputBig',
        disabled: false,
        initialValue: 2222,
      },
    },
  },
  s: {
    name: 'da1',
    as: 'datePicker',
    initialValue: '2023-01-18',
  },
});

const ownershipCount = ref(3);

const changeOwnership = (data: string) => {
  ownershipCount.value = parseInt(data, 10);
};

const workloadList = computed(() => {
  const [DEFAULT_FIRST_VALUE, DEFAULT_VALUE] = [50, 100];

  const disabledCount = 5 - ownershipCount.value;

  const main = [...Array(ownershipCount.value).keys()].map((i) => ({
    name: `workloadList_${i}`,
    label: `${i + 1} год`,
    as: 'inputBig',
    initialValue: i === 0 ? DEFAULT_FIRST_VALUE : DEFAULT_VALUE,
    // rules: yup.string()
    // // .required(ERRORS.REQUIRED_ERROR)
    //   .typeError(ERRORS.TYPE_ERROR),
    style: 'grid-item',
    maskitoOptions: options1,
    disabled: false,
  }));

  const disabledArray = [...Array(disabledCount).keys()].map((i) => ({
    name: `workloadList_${ownershipCount.value + i}`,
    label: `${ownershipCount.value + i + 1} год`,
    as: 'inputBig',
    initialValue: '',
    // rules: yup.string()
    //   // .required(ERRORS.REQUIRED_ERROR)
    //   .typeError(ERRORS.TYPE_ERROR),
    style: 'grid-item ',
    maskitoOptions: options1,
    disabled: true,
  }));

  console.log(disabledArray);

  return [...main, ...disabledArray];
});

const segmentValue = ref<IButtonDropdownItem>();
const segmentList = ref<IButtonDropdownItem[]>([
  {
    id: '1',
    title: 'Новостройка',
  },
  {
    id: '2',
    title: 'Современное жилье',
  },
  {
    id: '3',
    title: 'Старый жилой фонд',
  },
]);

const wallTypeValue = ref<IButtonDropdownItem[]>([]);
const wallTypeList = ref<IButtonDropdownItem[]>([
  {
    id: 'panel',
    title: 'Панель',
  },
  {
    id: 'monolith',
    title: 'Монолит',
  },
  {
    id: 'brick',
    title: 'Кирпич',
  },
  {
    id: 'brick-monolith',
    title: 'Кирпич-монолит',
  },
]);

const radius = ref<number>();

const radiusMaskito = maskitoNumberOptionsGenerator({
  precision: 0,
  decimalSeparator: ',',
  min: 0,
  postfix: ' м',
});

</script>

<style lang="scss">

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 8px;
}
// @import './core/index.scss';
// @import './themes/default/index.scss';
.asd{
  max-width: 400px;
}

.ikn-inputRange-body {

}

.ikn-inputRange {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  padding-top: 8px;
  padding-bottom: 24px;

  &__range {
    width: 40%;
  }

  &::after {
    content: '';
    bottom: 20px;
    padding-top: 1px;
    border-bottom: 2px solid #E5E7E8;
    position: absolute;
    left: 0;
    width: 100%;
  }

  &[disabled]:not(&--error)::after {
  }

  &--error::after {
    // border-color: $RED_50;
  }

  &__label {
    display: none;
    position: absolute;
    top: 11px;
    left: 0;

    transition: all 0.15s linear;

    &--active {
      top: -5px;
    }

    &--error {

    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__input {
    position: relative;
    flex: 1 1 auto;
    padding: 4px;
    border: none;
    outline: none;
    background-color: transparent;

    &:disabled {

    }

  }

  &__icon {
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  &__error {

    position: absolute;
    bottom: 0;
    left: 0;
;
    min-height: 24px;
    bottom: -12px;
  }
}

.ui-card{
  width: 70% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn__active{
  margin-left: 10px !important;
  background-color: white !important;
  color: black !important;
  border: 1px solid rgb(148 163 184) !important;
}

.map__filters__resultBtns{
  display: flex;
    justify-content: flex-end;
    border-top: 1px solid rgb(203, 203, 203);
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown-radius {
  background-color: #fff;
  padding: 8px 16px;
}

</style>
