@import '../../../core/vars.scss';


.ui-checklist{
    display: flex;
    padding-top: 8px;
    // &__item{
    //     padding: $INDENT_8;
    //     border: 1px solid $BRAND_GRAY;
    //     background-color: $WHITE;
    //     color: $GRAY_100;
    //     margin-left: $INDENT_8;
    //     cursor: pointer;
    //     &__active{
    //         background-color: $BRAND_RED;
    //         color: $WHITE;
    //         &:hover{
    //             background-color: black !important;
    //         }
    //     }
    //     &:hover{
    //         background-color: $BRAND_RED;
    //         color: $WHITE;
    //     }
    // }
}

.ui-checklist-item{
    padding: $INDENT_8;
    border: 1px solid $BRAND_GRAY;
    background-color: $WHITE;
    color: $GRAY_100;
    margin-left: $INDENT_8;
    cursor: pointer;
}

.ui-checklist-item:hover{
    
    background-color: $BRAND_RED;
    color: $WHITE;
}

.ui-checklist-item_active{
    background-color: $BRAND_RED;
    color: $WHITE;
}

.ui-checklist-item_active:hover{
    background-color: $RED_80 ;
}

.checklist:first-child{
    margin-left: 0;
}