@import '../../../core/vars.scss';

.ui-checkbox {
    
}

.ui-checkbox:hover {
    cursor: pointer;
}
  
.ui-checkbox__label:hover {
    cursor: pointer;
}
.ui-checkbox__input {
    display: none;
}

.ui-checkbox__container {
    display: flex;
    align-items: flex-start;
}

.ui-checkbox__trigger {
    position: relative;
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    background-color: $GRAY_0;
    border: 1px solid $GRAY_20;
    box-sizing: border-box;
    border-radius: 4px;
  }


.ui-checkbox__trigger_checked {
    background-color: $BRAND_RED;
}
  
.ui-checkbox__checked {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
}
  
.ui-checkbox__label {
    padding-left: 8px;
    font-size: $DESKTOP_FONT_SIZE_M;
    line-height: $DESKTOP_LINE_HEIGHT_M;
}