@import '../../../core/base.scss';

.ui-dadata {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding-top: 16px;
  padding-bottom: 24px;
}

.ui-dadata__label {
  @extend .body-m-bold;
  margin-bottom: 16px;
  color: $GRAY_100;
}

.ui-dadata__required {
  color: $BRAND_RED;
}

.vue-dadata__input {
  border: 1px solid #d2d2d6;
}

.vue-dadata__input:focus {
  box-shadow: none;
  border-color: #787885;
}

.vue-dadata__suggestions {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.vue-dadata__suggestions-item_current {
  background-color: $RED_30;
}

.vue-dadata__suggestions-item:hover {
  background-color: $RED_50;
}