@import "@vuepic/vue-datepicker/dist/main.css";
@import "../../../core/vars.scss";

.ui-daterange {
    position: relative;

    .dp__main {
        padding-bottom: 32px;
    }

    .dp__theme_light {
        --dp-primary-color: #b9181d;
        --dp-primary-text-color: #ffffff;
    }

    .dp__input_icon {
        right: 28px;
        left: auto;
        margin-top: -12px;
        transform: none;
    }
}

.ui-daterange__label {
    @extend .body-m-bold;

    padding-bottom: 16px;

    &-span {
        color: $BRAND_RED;
    }
}

.ui-date-range__required {
    color: $BRAND_RED;
}

.ui-date-range__input {
    padding: 20.5px 32px;
    border-radius: 10px;
}

.ui-date-range__input_error {
    border-color: $RED_50;
}

.ui-daterange__error {
    @extend .body-s;
    position: absolute;
    bottom: 0;
    left: 0;
    color: $RED_50;
    min-height: 24px;
}

.dp__main {
    padding-bottom: 32px;
}

.dp__theme_light {
    --dp-primary-color: #b9181d;
    --dp-primary-text-color: #ffffff;
}

.dp__input_icon {
    right: 28px;
    left: auto;
    margin-top: -12px;
    transform: none;
}