@import "../../../core/main.scss";

.dropdown {
  position: relative;
  flex-shrink: 0;

  &__list {
    position: absolute;
    z-index: 10;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    padding: 8px;
    border: 1px solid $GRAY_20;
    border-radius: 10px;
    background-color: white;
    outline: none;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;

    &:hover, &:focus, &:focus-within {
      background-color: $GRAY_0;
    }
    &_focused{
      background-color: $GRAY_0;
    }
  }

  &__item_focused{
    background-color: $GRAY_0;
  }

  &__text {
    @extend .body-m;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_disabled {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $GRAY_5;
    z-index: 2;
    opacity: 0.5;
  }
}
