.input-tags{
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding-bottom: 32px;
}

.input-tags-label{
  @extend .body-m-bold;
  margin-bottom: 8px;
  color: $GRAY_100;
}

.input-tags-wrapper{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  border: 1px solid $GRAY_10;
  gap: 8px;
  border-radius: 6px;
  background-color: white;
  &--error{
    border-color: $RED_50;
  }
}

.input-tags-tag{
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding: 7px;
  background-color: $GRAY_10;
  border: 1px solid $GRAY_10;
  border-radius: 6px;
  gap: 4px;
}

.input-tags-input{
  @extend .body-m;
  width: 100px;
  overflow: hidden;
  border: none;
  outline: none;
  padding: 11px;
  &:hover, &:focus-within{
    border-color: $GRAY_30;
  }
  &--error{
    border-color: $RED_50;
  }
  &:disabled{
    background-color: #fff;
  }
}

.input-tags-icon{
  cursor: pointer;
}

.input-tags-error{
  @extend .body-s;
  position: absolute;
  bottom: 0;
  left: 0;
  color: $RED_50;
  min-height: 24px;
}
