.ui-inputRange {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 64px;
  gap: 32px;
  padding-bottom: 32px
}


.ui-inputRange__label {
  @extend .body-m-bold;
  position: relative;
  margin-top: 16px;
  margin-bottom: 8px;
  color: $GRAY_100;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

.ui-inputRange__wrapper {
  width: 100%;
  height: 100%;
}

.ui-inputRange__error {
  @extend .body-s;
  position: absolute;
  bottom: 0;
  left: 0;
  color: $RED_50;
  min-height: 24px;
}

@media (max-width: 992px) {
  .ui-inputRange__wrapper {
    grid-column: span 2;
  }
}
