@import '../../../core/base.scss';

.ui-input-big {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding-bottom: 32px;

  &__label {
    @extend .body-m-bold;
    margin-bottom: 16px;
    color: $GRAY_100;
  }

  &__required {
    color: $BRAND_RED;
  }

  &__tooltip-icon{
    margin-left: 12px
  }

  &__tooltip-text{
    @extend .body-m;
    padding: 8px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__icon {
    position: absolute;
    right: 24px;
    cursor: pointer;
  }

  &__input {
    @extend .body-m;
    width: 100%;
    padding: 18px 32px;
    border: 1px solid $GRAY_10;
    border-radius: 10px;
    outline: none;
    background-color: white;
    color: $GRAY_100;

    &:disabled {
      color: $GRAY_50;
      background: #F6F6F7;
    }

    &:hover,
    &:focus-within {
      border-color: $GRAY_30;
    }

    &--error {
      border-color: $RED_50;
    }

    &::placeholder {
      color: $GRAY_30;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type='number'] {
      -moz-appearance: textfield;
    }
  }

  &__error {
    @extend .body-s;
    position: absolute;
    bottom: 0;
    left: 0;
    color: $RED_50;
    min-height: 24px;
  }
}
