@import '../../../core/base.scss';

.ui-input-body {
  @extend .body-m;
}

.ui-input {
  position: relative;
  display: flex; 
  flex-direction: column;
  width: auto;
  height: auto;
  padding-top: 16px;
  padding-bottom: 24px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 24px;
    width: 100%;
    border-bottom: 1px solid $GRAY_20;
  }

  &:hover::after,
  &:focus-within::after {
    border-color: $GRAY_100;
  }

  &[disabled]:not(&--error)::after {
    border-color: $GRAY_5;
  }

  &--error::after {
    border-color: $RED_50;
  }

  &__label {
    position: absolute;
    top: 24px;
    left: 0;
    color: $GRAY_40;
    transition: all 0.15s linear;
    

    &--active {
      @extend .body-m;
      top: 0;
    }

    &--error {
      color: $RED_50;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__input {
    @extend .body-m;
    position: relative;
    flex: 1 1 auto;
    padding: 8px 40px 16px 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: $GRAY_100;
    &:disabled {
      color: $GRAY_50;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type='number'] {
      -moz-appearance: textfield;
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  &__error {
    @extend .body-s;
    position: absolute;
    bottom: 0;
    left: 0;
    color: $RED_50;
    min-height: 24px;
  }
}