@import '@/core/base.scss';

.ui-radio-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding-bottom: 8px;
}

.ui-radio-group__label, .ui-radio-button_title {
  @extend .body-m-bold;
  margin-bottom: 8px;
  color: $GRAY_100;
}

.ui-radio-button_title{
  @extend .body-m-bold;
  margin-bottom: 8px;
  padding-bottom: 8px;
  color: $GRAY_100;
}

.ui-radio-group__container {
  border: 1px solid $GRAY_10;
  border-radius: 10px;
  gap: 40px;
  background-color: white;
  padding: 8px 16px;
}

.ui-radio-group__container_error {
  border-color: $RED_50;
}

.ui-radio-button {
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
  display: flex;

  &_disabled {
    cursor: default;
  }
}

.ui-radio-button_buttons-container{
  display: flex;
  gap: 16px;
}

.ui-radio-button__input {
  display: none;
}

.ui-radio-button__checkmark {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  background-color: $WHITE;
  border-radius: 50%;
  border: 2px solid $GRAY_10;
  border-radius: 100%;
  transition: all 0.25s ease-out;
}

.ui-radio-button__checkmark::after {
  content: "";
  position: absolute;
  display: none;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: $WHITE;
}

.ui-radio-button__checkmark_checked {
  transition: all 0.25s ease-in;
  border-width: 6px;
  border-color: $BRAND_RED
}

.ui-radio-button__checkmark_disabled {
  border-color: $GRAY_50;
}

.ui-radio-button__label {
  @extend .body-m;
  color: $GRAY_100;
  margin-left: 8px;
}

.ui-radio-group__error-message {
  @extend .body-s;
  position: absolute;
  bottom: -26px;
  left: 0;
  color: $RED_50;
  min-height: 24px;
}
