@import '../../../core/base.scss';

.ui-radio {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;


    &__wrapper {}

    &__body {}

    &_checked {
        .ui-radio__checkmark {
            background: $BRAND_RED;
            border: 1px solid $BRAND_RED;

            &:after {
                display: block;
            }
        }
    }

    &:hover~.ui-radio__checkmark {
        background-color: $GRAY_20;
    }
}

.ui-radio__input {
    display: none;
    //position: absolute;
    //opacity: 0;
    //cursor: pointer;
}

.ui-radio_content-space-between {
    justify-content: space-between;
}

.ui-radio_content {
    justify-content: space-between;
}

.ui-radio_direction {
    flex-direction: row;
}

.ui-radio__checkmark {
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid $GRAY_20;
    background-color: $WHITE;
    border-radius: 50%;

    &:after {
        content: "";
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        margin-top: -5px;
        margin-left: -5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $WHITE;
    }
}