@import '../../../core/base.scss';

.ui-select-big {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding-bottom: 32px;

  &__tooltip-icon{
    margin-left: 12px
  }

  &__tooltip-text{
    @extend .body-m;
    padding: 8px;
  }

  &__label {
    @extend .body-m-bold;
    margin-bottom: 16px;
    color: $GRAY_100;
  }

  &__required {
    color: $BRAND_RED;
  }

  &__select {
    @extend .body-m;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    border: 1px solid $GRAY_10;
    border-radius: 10px;
    cursor: pointer;
    color: $GRAY_100;
    background-color: white;

    &--error {
      border-color: $RED_50;
    }

    &__input {
      @extend .body-m;
      border-radius: 10px;
      outline: none;
      background-color: white;
      width: 100%;
      border: none;
      &_disabled {
        background-color: rgb(226 232 240);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        transform: scale(1);
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
      }
    }

    &__value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__error {
    @extend .body-s;
    position: absolute;
    bottom: 0;
    left: 0;
    color: $RED_50;
    min-height: 24px;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
