@import '../../../core/base.scss';

.ui-select-tags {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  row-gap: 8px;
  padding-bottom: 32px;
}

.ui-select-tags__label {
  @extend .body-m-bold;
  margin-bottom: 16px;
  color: $GRAY_100;
}

.ui-select-tags__tooltip-icon {
  margin-left: 12px
}

.ui-select-tags__tooltip-text {
  @extend .body-m;
  padding: 8px;
}

.ui-select-tags__select {
  @extend .body-m;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 32px;
  border: 1px solid $GRAY_10;
  border-radius: 10px;
  cursor: pointer;
  color: $GRAY_100;
  background-color: white;
}

.ui-select-tags__select--error {
  border-color: $RED_50;
}

.ui-select-tags__content {
  display: flex;
  justify-content: space-between;
}

.ui-select-tags__value {
  display: flex;
  align-items: center;
}

.ui-select-tags__input {
  @extend .body-m;
  border-radius: 10px;
  outline: none;
  background-color: white;
  width: 100%;
  border: none;
  width: 100%;
}

.ui-select-tags__input--disabled {
  background-color: rgb(226 232 240);
  color: rgb(226 232 240);;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.ui-select-tags__tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 8px;
}

.ui-select-tags__tag {
  display: flex;
  column-gap: 4px;
  align-items: center;
  padding: 4px 8px;
  border-radius: 6px;
  color: white;
  background-color: #31315B;
}

.ui-select-tags__dropdown-wrapper {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column-reverse;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  padding: 2px;
  border: 1px solid $GRAY_20;
  border-radius: 10px;
  background-color: white;
  outline: none;
}

.ui-select-tags__dropdown-list {
  max-height: 300px;
  overflow: auto;
}

.ui-select-tags__dropdown-footer {
  padding: 8px 0px;
}

.ui-select-tags__hr {
  color: #e5e7e8;
  background-color: #e5e7e8;
  border: none;
  height: 2px;
}

.ui-select-tags__dropdown-item {
  display: flex;
  padding: 8px 24px;
  background-color: white;
  border-radius: 8px;
}

.ui-select-tags__dropdown-item_option {
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;
  border-radius: 8px;
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-within {
    background-color: $GRAY_0;
  }
  &--focused {
    background-color: $GRAY_0;
  }
}

.ui-select-tags__dropdown-text {
  @extend .body-m;
  overflow: hidden;
  text-overflow: ellipsis;
}


.ui-select-tags__error-message {
  @extend .body-s;
  position: absolute;
  bottom: 0;
  left: 0;
  color: $RED_50;
  min-height: 24px;
}

.ui-select-tags__disabled {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $GRAY_5;
  z-index: 2;
  opacity: 0.5;
}
