@import '../../../core/main';

.ui-select__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding-bottom: 32px;
}

.ui-select {
  @extend .body-m;
  position: relative;
  align-items: center;
  padding: 18px 32px;
  border: 1px solid $GRAY_20;
  border-radius: 32px;
  cursor: pointer;
  color: $GRAY_100;

  &__inset {
    border: none;
  }

  &__label {
    margin-bottom: 16px;
    color: $GRAY_40;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--error {
    border-color: $RED_50;
  }

  &__error {
    @extend .body-s;
    position: absolute;
    bottom: 0;
    left: 0;
    color: $RED_50;
    min-height: 24px;
  }

  & * {
    flex-shrink: 0;
  }
}

.ui-custom-select{
  @extend .body-m;
  position: relative;
  align-items: center;
  padding: 18px 32px;
  border-bottom: 1px solid $GRAY_20;
  border-radius: 32px;
  cursor: pointer;
  color: $GRAY_100;
}
