.ui-slider {}

.ui-slider__slider {
  padding-top: 33px !important;
  margin-left: 7px !important;
}

.ui-slider__label {
  color: #90909E;
  font-family: "TTNorms-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ui-slider__data-label {
  top: -37px !important;
  transform: translateX(-10%) !important;
  color: #90909E !important;
  font-family: 'TT Norms' !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}