@import '../../../core/base.scss';

.ui-switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
  
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  
    input:checked + .slider {
      background-color: $BRAND_RED;
    }
  
    input:focus + .slider {
      box-shadow: 0 0 1px $BRAND_RED;
    }
  
    input:checked + .slider:before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
    }
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 32px;
  
    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 2px;
      bottom: 2px;
      background-color: $WHITE;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }