<template>
  <div
    v-bind="$attrs"
    :class="[proxyStyles?.image]">
    <img
      v-lazy="{ src: src, loading: preview ? preview : src, error: fallback, lifecycle: lifecycle }"
      :data-src="dataSrc"
      :alt="alt"
      :class="[proxyStyles?.imageImage]">
  </div>
  <ui-preloader
    v-if="loading && preloader"
    :preloader-styles="preloaderStyles"
    :is-centered="true" />
</template>

<script lang="ts" setup>
import {
  reactive, ref, computed, inject,
} from 'vue';
import UiPreloader from '../preloader/UiPreloader.vue';
import lazyObj from '../../utils/lazyload';
import { UiImageStyles } from './image.types';
import { Styles, UiPreloaderStyles, keyStyles } from '..';

const vLazy = {
  mounted: lazyObj.mount.bind(lazyObj),
  updated: lazyObj.update.bind(lazyObj),
  unmounted: lazyObj.unmount.bind(lazyObj),
};

const props = withDefaults(defineProps<{
  src: string,
  dataSrc?: string,
  preview?: string
  fallback?: string,
  alt?: string,
  preloader?: boolean,
  preloaderStyles?: UiPreloaderStyles,
  imageStyles?: UiImageStyles
}>(), {
  dataSrc: '',
  preview: '',
  fallback: '',
  preloader: true,
  alt: '',
  preloaderStyles: undefined,
  imageStyles: undefined,
});

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.imageStyles ? props.imageStyles : styles?.components.uiImage));
const loading = ref(false);

const lifecycle = reactive({
  loading: () => {
    loading.value = true;
  },
  error: () => {
    loading.value = false;
  },
  loaded: () => {
    loading.value = false;
  },
});

</script>

<style lang="scss" scoped>
</style>
