§<template>
  <div :class="[proxyStyles?.achievement]">
    <div :class="[proxyStyles?.body]">
      <span
        v-if="achievement.emoji"
        :class="[proxyStyles?.emoji]">{{ achievement.emoji }}</span>
      <span :class="[proxyStyles?.title]">{{ achievement.title }}</span>
    </div>
    <div
      v-if="achievement.qty > 1"
      :class="[proxyStyles?.qty]">
      x{{ achievement.qty }}
    </div>
  </div>
</template>

<script lang="ts" setup>

import { computed, inject } from 'vue';
import { Styles, keyStyles } from '..';
import { Achievement, UiAchievementStyles } from './achievement.types';

const props = withDefaults(defineProps<{
  achievement?: Achievement,
  achievementStyles?: UiAchievementStyles,
}>(), {
  achievement: () => ({
    emoji: '',
    title: '',
    qty: 0,
  }),
});

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.achievementStyles ? props.achievementStyles : styles?.components.uiAchievement));
</script>
