<template>
  <div :class="[proxyStyles?.wysiwyg]">
    <p
      v-if="label"
      :class="[proxyStyles?.label]">
      {{ label }}
      <span
        v-if="$attrs.required"
        :class="[proxyStyles?.labelSpan]">*</span>
    </p>

    <div :class="[proxyStyles?.container, {[`${proxyStyles?.containerError}`] : errorMessage }]">
      <wysiwyg-toolbar
        v-if="editor"
        :toolbar-schema="toolbarSchema"
        :wysiwyg-toolbar-styles="wysiwygStyles?.wysiwygToolbar"
        :wysiwyg-toolbar-space-styles="wysiwygStyles?.wysiwygToolbarSpace"
        :disabled="disabled"
        @onToggleToolbarButton="onToggleToolbarButton" />
      <editor-content :editor="editor" />
    </div>
    <wysiwyg-error
      v-show="errorMessage"
      :styles="wysiwygStyles?.wysiwygError"
      :error-message="errorMessage" />
  </div>
</template>

<script lang="ts" setup>
import { reactive, computed, inject } from 'vue';
import { EditorContent } from '@tiptap/vue-3';
import { keyStyles, Styles } from '@/components';
import WysiwygToolbar from '../wysiwyg-toolbar/WysiwygToolbar.vue';
import WysiwygError from '../wysiwyg-error/WysiwygError.vue';
import { useEditor } from '../useEditor';
import toolbarButtons from '../toolbar';
import { UiWysiwyg, ToolbarSchema } from '../index.types';

const props = withDefaults(defineProps<{
    model?: string,
    label?: string,
    errorMessage?: string,
    placeholder?: string,
    disabled?: boolean,
    wysiwygStyles? : UiWysiwyg,
}>(), {
  model: '',
  label: '',
  name: '',
  placeholder: '',
  disabled: false,
  errorMessage: '',
});

// eslint-disable-next-line vue/define-emits-declaration
const emit = defineEmits(['update:model']);

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.wysiwygStyles?.uiWysiwyg ? props.wysiwygStyles.uiWysiwyg : styles?.components.form.wysiwyg.uiWysiwyg));

const { editor, setLink, isActive } = useEditor(props, emit);

const toolbarSchema: ToolbarSchema[] = reactive(toolbarButtons.map((btn) => ({ ...btn, isActive: computed(() => isActive(btn.type)) })));

const onToggleToolbarButton = (type: string) => {
  // eslint-disable-next-line @typescript-eslint/no-empty-function
  const none = () => {};

  const dict = {
    bold: editor.chain().focus().toggleBold().run,
    italic: editor.chain().focus().toggleItalic().run,
    bulletList: editor.chain().focus().toggleBulletList().run,
    orderedList: editor.chain().focus().toggleOrderedList().run,
    link: setLink,
    none,
  };

  // eslint-disable-next-line @typescript-eslint/ban-ts-comment
  // @ts-ignore
  dict[type]();
};
</script>

<style lang="scss">
</style>
