<template>
  <label :class="[proxyStyles?.uiInputBig]">
    <span
      v-if="label"
      :class="[proxyStyles?.label]">
      {{ label }}
      <ui-tooltip
        v-if="tooltip"
        v-bind="tooltip.options">
        <ui-icon
          :height="tooltip.icon.height ?? 16"
          :width="tooltip.icon.width ?? 16"
          :color="tooltip.icon.color ?? ''"
          :class="[proxyStyles?.tooltipIcon]"
          :name="tooltip.icon.name" />
        <template #content>
          <p :class="[proxyStyles?.tooltipText]">
            {{ tooltip.text }}
          </p>
        </template>
      </ui-tooltip>
      <span
        v-if="$attrs.required"
        :class="[proxyStyles?.required]">*</span>
    </span>

    <div :class="[proxyStyles?.wrapper]">
      <input
        v-maskito="maskitoOptions"
        v-bind="inputAttrs"
        :class="[proxyStyles?.input, {[`${proxyStyles?.inputError}`]: errorMessage }]"
        :placeholder="placeholder"
        :value="props.model"
        :type="inputType"
        :disabled="disabled"
        @input="$emit('update:model', ($event.target as HTMLInputElement).value !== '' ? onInput($event) : null)"
        @focus="onFocus"
        @blur="onFocus">

      <div
        v-if="type === 'password'"
        :class="[proxyStyles?.icon]"
        @click="onIconClick">
        <ui-icon
          :name="isPasswordHidden ? 'unview' : 'view'"
          :color="GRAY_40" />
      </div>
    </div>

    <span
      v-show="errorMessage"
      :class="[proxyStyles?.error]">
      {{ errorMessage }}
    </span>
  </label>
</template>

<script lang="ts" setup>
import {
  ref, inject, computed,
} from 'vue';
import { keyStyles, Styles } from '@/components';
import { maskito as vMaskito } from '@maskito/vue';
import { MASKITO_DEFAULT_OPTIONS } from '@maskito/core';
import UiTooltip from '../../tooltip/UiTooltip.vue';
import { GRAY_40 } from '../../../core/color';
import { useInput } from '../useInput';
import UiIcon from '../../icon/UiIcon.vue';
// eslint-disable-next-line @typescript-eslint/ban-ts-comment
// @ts-ignore
import { UiInputBigStyles } from './inputBig.types';
import { IUiSelectTooltip } from '../select/select.types';

type IInputBigProps = {
  model?: string | number,
  label?: string,
  type?: string,
  placeholder?: string,
  errorMessage?: string,
  disabled?: boolean,
  tooltip?: IUiSelectTooltip;
  inputBigStyles?: UiInputBigStyles,
  maskitoOptions: any; // todo: https://github.com/vuejs/core/issues/8569
  getRawValue: any;
}

const props = withDefaults(defineProps<IInputBigProps>(), {
  model: '',
  type: 'text',
  label: '',
  placeholder: '',
  errorMessage: '',
  maskitoOptions: MASKITO_DEFAULT_OPTIONS,
  inputBigStyles: undefined,
  tooltip: undefined,
  getRawValue: undefined,
});

// eslint-disable-next-line no-unused-vars
const emits = defineEmits<{(event: 'update:model', value: any): void; (event: 'copy', value: any): void;}>();

const { onFocus } = useInput(props, emits);

const styles = inject<Styles | undefined>(keyStyles);

const proxyStyles = computed(() => (props.inputBigStyles ? props.inputBigStyles : styles?.components.form.uiInputBig));

const isPasswordHidden = ref(true);
const inputType = ref(props.type);

const onIconClick = () => {
  isPasswordHidden.value = !isPasswordHidden.value;
  if (isPasswordHidden.value) {
    inputType.value = props.type;
  } else {
    inputType.value = props.type === 'password' ? 'text' : props.type;
  }
};

const inputAttrs = ref({
  type: inputType,
  // value: props.model,
  modelValue: props.model,
  disabled: props.disabled,
  // value: props.model,
  class: [proxyStyles.value?.input],
});

const onInput = (event: Event) => {
  if (props.getRawValue !== undefined) {
    return props.getRawValue((event.target as HTMLInputElement).value);
  }

  return (event.target as HTMLInputElement).value;
};

</script>

<style lang="scss" scoped>
</style>
